@media(min-width: 1421px) and (max-width: 1600px) {

	/* ABOUT US */

	.video-wrapper-about-us {
		position: absolute;
		z-index: -1;
		right: 0;
		left: 0;
		top: 10%;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-about-us {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-about-us {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -22vw);
	}

	.video-wrapper-about-us::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* WHY US */

	.video-wrapper-why-us {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-why-us {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-why-us {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -22vw);
	}

	.video-wrapper-why-us::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* PROCESS 1 */

	.video-wrapper-process-1 {
		position: absolute;
		z-index: 0;
		left: 30%;
		top: 0;
		height: 30%;
		width: 100%;
		overflow: hidden;
	}

	.video-outer-wrapper-process-1 {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-process-1 {
		position: absolute;
		left: 0;
		width: 190%;
		transform: translate(-35%, -22vw);
	}

	.process-1-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-process-1::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* PROCESS 3 */

	.video-wrapper-process-3 {
		position: absolute;
		z-index: 0;
		right: 0;
		left: -30%;
		top: 45%;
		height: 30%;
		width: 100%;
		overflow: hidden;
	}

	.video-outer-wrapper-process-3 {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-process-3 {
		position: absolute;
		left: 0;
		width: 190%;
		transform: translate(-35%, -22vw);
	}

	.process-3-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-process-3::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* FAQ */

	.video-wrapper-faq {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-faq {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-faq {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -22vw);
	}

	.video-wrapper-faq::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* CONTACT */

	.video-wrapper-contact {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-contact {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-contact {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -22vw);
	}

	.video-wrapper-contact::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.dory-video {
		width: auto;
		height: auto;
	}
 	
 	.dory h1 {
 		font-size: 16px;
 		line-height: 20px;
 	}

 	.dory p:last-child {
 		font-size: 9px;
 		line-height: 20px;
 	}

 	.custom-btn {
		width: 80px;
		height: 33px;
		font-size: 10px;
	}

   .scope-header h1{
		font-size: 20px;
		line-height: 35px;
	}

   .enable-dis h1 {
		font-size: 20px;
		line-height: 35px;
	}

   .enable-dis p {
		width: auto;
		font-size: 12px !important;
		line-height: 20px !important;
	}

   .train-video {
		width: 290px;
		height: auto;
	}

   .ellipse h1 {
		font-size: 20px;
		line-height: 34px;
	}

   .process {
		font-size: 20px;
		line-height: 35px;
	}

   .ellipse p {
		width: auto;
		font-size: 12px;
		line-height: 20px;
	}

   .ellipse small {
		font-size: 10px;
	}

   .fair-approch p {
		width: auto;
		font-size: 12px;
		line-height: 20px;
	}

   .container-set {
		margin: auto;
	}

   .make {
		width: auto;
		font-size: 12px;
	}

   .panel-title a {
		font-size: 12px;
	}

   .panel-body {
		font-size: 10px;
	}

   .panel-title > a:before {
		padding-left: 5px;
		padding-top: 1px;
	}

   .faq h1 {
		font-size: 20px;
		line-height: 35px;
	}

   .custom-input {
		width: 290px;
	}

   .copyright {
		font-size: 12px;
	}

   .avatar h1 {
		top: 35%;
		font-size: 10px;
	}

   .burning {
		width: 200px;
		font-size: 10px;
		line-height: 20px;
		text-align: center;
	}

   .scope-header h6 {
		font-size: 12px;
		line-height: 20px;
	}

   .scope-header p:last-child {
		font-size: 12px;
		line-height: 20px;
	}

   .faq span {
		font-size: 12px;
	}

   .faq1 ,.faq2 ,.faq3 ,.faq4 ,.faq5 ,.faq6 {
		font-size: 12px;
	}

   .co-founding {
		font-size: 12px;
	}

   .fair-approch h4 {
		font-size: 16px;
	}

   .step h1 {
		font-size: 20px;
		line-height: 35px;
	}

   .one-pager {
		font-size: 12px;
	}

   .border-set {
		border: none;
		border-left: 1px dashed rgba(255, 255, 255, 0.4); 
	}

   .border-set:before {
		position: absolute;
		content: " ";
		width: 10px;
		height: 10px;
		background-color: #fff;
		top: 7px;
		left:-5px;
	}

   .border-m-set {
		border-left: 1px dashed rgba(255, 255, 255, 0.4);
		position: relative;
	}

   .border-m-set:before	{
		position: absolute;
		content: " ";
		width: 10px;
		height: 10px;
		background-color: #fff;
		top: 7px;
		left:-5px;
	}

   .border-set:after {
		border:none;
		display: none;
	}

   .border-left-set {
		border:none;
	}

   .border-step-left {
		border-left: 1px dashed rgba(255, 255, 255, 0.4);
		position: relative;
	}

   .border-step-left:before {
		position: absolute;
		content: " ";
		width: 10px;
		height: 10px;
		background-color: #fff;
		top: 7px;
		left:-5px;
	}

   .border-step-left:after {
		display: none;
	}

   .avatar {
		width: 80px;
		height: 40px;	
	}

   .step {
		margin-top: 0;
		margin-bottom: 0;
	}

   .stp-squre:before{
		display: none;
	}
}

@media(min-width: 1200px) and (max-width: 1420px) {

	/* ABOUT US */

	.video-wrapper-about-us {
		position: absolute;
		z-index: -1;
		right: 0;
		left: 0;
		top: 10%;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-about-us {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-about-us {
		position: absolute;
		left: 50%;
		width: 190%;
    	transform: translate(-50%, -22vw);
	}

	.about-us-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-about-us::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* WHY US */

	.video-wrapper-why-us {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-why-us {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-why-us {
		position: absolute;
		left: 50%;
		width: 190%;
    	transform: translate(-50%, -22vw);
	}

	.why-us-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-why-us::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* PROCESS 1 */

	.video-wrapper-process-1 {
		position: absolute;
		z-index: 0;
		left: 30%;
		top: 0;
		height: 30%;
		width: 100%;
		overflow: hidden;
	}

	.video-outer-wrapper-process-1 {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-process-1 {
		position: absolute;
		left: 0;
		width: 190%;
		transform: translate(-35%, -22vw);
	}

	.process-1-dory-video {
		height: 100% !important;
		width: 100% !important;
	}

	.video-wrapper-process-1::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* PROCESS 3 */

	.video-wrapper-process-3 {
		position: absolute;
		z-index: 0;
		right: 0;
		left: -30%;
		top: 45%;
		height: 30%;
		width: 100%;
		overflow: hidden;
	}

	.video-outer-wrapper-process-3 {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-process-3 {
		position: absolute;
		left: 0;
		width: 190%;
		transform: translate(-35%, -22vw);
	}

	.process-3-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-process-3::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* FAQ */

	.video-wrapper-faq {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-faq {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-faq {
		position: absolute;
		left: 50%;
		width: 190%;
    	transform: translate(-50%, -22vw);
	}

	.faq-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-faq::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* CONTACT */

	.video-wrapper-contact {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-contact {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-contact {
		position: absolute;
		left: 50%;
		width: 190%;
    	transform: translate(-50%, -22vw);
	}

	.contact-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-contact::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	.dory-video {
		width: auto;   
		height: 100vh;
		object-position: center;
	}	
}

@media(min-width: 768px) and (max-width: 1200px) {

	/* ABOUT US */

	.video-wrapper-about-us {
		position: absolute;
		z-index: -1;
		right: 0;
		left: 0;
		top: 10%;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-about-us {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-about-us {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -15vw);
	}
	
	.about-us-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-about-us::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* WHY US */

	.video-wrapper-why-us {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-why-us {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-why-us {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -22vw);
	}

	.why-us-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-why-us::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* PROCESS 1 */

	.video-wrapper-process-1 {
		position: absolute;
		z-index: 0;
		left: 30%;
		top: 0;
		height: 20%;
		width: 100%;
		overflow: hidden;
	}

	.video-outer-wrapper-process-1 {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-process-1 {
		position: absolute;
		left: 0;
		width: 190%;
		transform: translate(-30%, -22vw);
	}

	.process-1-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-process-1::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* PROCESS 3 */

	.video-wrapper-process-3 {
		position: absolute;
		z-index: 0;
		right: 0;
		left: -30%;
		top: 45%;
		height: 20%;
		width: 100%;
		overflow: hidden;
	}

	.video-outer-wrapper-process-3 {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-process-3 {
		position: absolute;
		left: 0;
		width: 190%;
		transform: translate(-30%, -22vw);
	}

	.process-3-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-process-3::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* FAQ */

	.video-wrapper-faq {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-faq {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-faq {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -22vw);
	}

	.faq-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-faq::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* CONTACT */

	.video-wrapper-contact {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-contact {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-contact {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -22vw);
	}

	.contact-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-contact::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	.content-set {
		height: 100vh;
	}

	.dory-video {
		width: auto;   
		height: 100vh;
		object-position: center;
	}

	.dory h1 {
		font-size: 40px;
	}

	.scope-header h1 {
		font-size: 40px;
	}

	.enable-dis h1 {
		font-size: 40px;
	}

	.ellipse h1 {
		font-size: 40px;
	}

	.process {
		font-size: 40px;
	}

	.faq h1 {
		font-size: 40px;
	}

	.fair-approch p {
		width: auto;
	}

	.make {
		width: 302px;
	}

	.container-set {
		margin: auto;
	}

	.avatar h1 {
		top: 18px;
	}

	.step1::after,#faq::after, .step3::after, #contact::after, #about::after {
		width: 100% !important;
		height: 75%;
	}
}

@media(min-width: 1600px) and (max-width: 2800px) {

	/* ABOUT US */

	.video-wrapper-about-us {
		position: absolute;
		z-index: -1;
		right: 0;
		left: 0;
		top: 10%;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-about-us {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-about-us {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -22vw);
	}

	.video-wrapper-about-us::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* WHY US */

	.video-wrapper-why-us {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0%;
    	height: 44%;
		overflow: hidden;
	}

	.video-outer-wrapper-why-us {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-why-us {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -22vw);
	}

	.video-wrapper-why-us::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* PROCESS 1 */

	.video-wrapper-process-1 {
		position: absolute;
		z-index: 0;
		left: 30%;
		top: 0;
		height: 30%;
		width: 100%;
		overflow: hidden;
	}

	.video-outer-wrapper-process-1 {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-process-1 {
		position: absolute;
		left: 0;
		width: 190%;
		transform: translate(-35%, -22vw);
	}

	.process-1-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-process-1::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* PROCESS 3 */

	.video-wrapper-process-3 {
		position: absolute;
		z-index: 0;
		right: 0;
		left: -30%;
		top: 45%;
		height: 30%;
		width: 100%;
		overflow: hidden;
	}

	.video-outer-wrapper-process-3 {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-process-3 {
		position: absolute;
		left: 0;
		width: 190%;
		transform: translate(-35%, -22vw);
	}

	.process-3-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-process-3::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* FAQ */

	.video-wrapper-faq {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0%;
    	height: 44%;
		overflow: hidden;
	}

	.video-outer-wrapper-faq {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-faq {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -22vw);
	}

	.video-wrapper-faq::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* CONTACT */

	.video-wrapper-contact {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0%;
    	height: 44%;
		overflow: hidden;
	}

	.video-outer-wrapper-contact {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-contact {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -22vw);
	}

	.video-wrapper-contact::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	.container-set {
	   margin: auto;
   }
}

@media screen and (max-width: 1023px) {

	/* ABOUT US */

	.video-wrapper-about-us {
		position: absolute;
		z-index: -1;
		right: 0;
		left: 0;
		top: 0;
		height: 35%;
		overflow: hidden;
	}

	.video-outer-wrapper-about-us {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-about-us {
		position: absolute;
		left: 50%;
		width: 190%;
		transform: translate(-50%, -15vw);
	}
	
	.about-us-dory-video {
		width: 100% !important;
		height: 100% !important;
	}

	.video-wrapper-about-us::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	.process, .ellipse img, .footer-top {    
    	margin-top: 100px;    
	}
	
	.enable-dis h1 {
		padding-top: 100px;
	}

	.circle-images {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	
	/* ABOUT US */

	.video-wrapper-about-us {
		position: absolute;
		z-index: -1;
		right: 0;
		left: 0;
		top: 0;
		height: 25%;
		overflow: hidden;
	}

	.video-outer-wrapper-about-us {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-about-us {
		position: absolute;
		left: 50%;
		width: 300%;
		transform: translate(-50%, -15vw);
	}

	.about-us-dory-video {
		width: 100%;
	}

	.video-wrapper-about-us::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* WHY US */

	.video-wrapper-why-us {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 25%;
		overflow: hidden;
	}

	.video-outer-wrapper-why-us {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-why-us {
		position: absolute;
		left: 50%;
		width: 300%;
		transform: translate(-50%, -15vw);
	}

	.why-us-dory-video {
		width: 100%;
	}

	.video-wrapper-why-us::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* PROCESS 1 */

	.video-wrapper-process-1 {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 30%;
		top: 0;
		height: 40vh;
		width: 100%;
		overflow: hidden;
	}

	.video-outer-wrapper-process-1 {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-process-1 {
		position: absolute;
		left: 0;
		width: 300%;
		transform: translate(-35%, -22vw);
	}

	.process-1-dory-video {
		width: 100%;
	}

	.video-wrapper-process-1::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* PROCESS 3 */

	.video-wrapper-process-3 {
		position: absolute;
		z-index: 0;
		right: 0;
		left: -30%;
		top: 45%;
		height: 40vh;
		width: 100%;
		overflow: hidden;
	}

	.video-outer-wrapper-process-3 {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-process-3 {
		position: absolute;
		left: 0;
		width: 300%;
		transform: translate(-35%, -22vw);
	}

	.process-3-dory-video {
		width: 100%;
	}

	.video-wrapper-process-3::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* FAQ */

	.video-wrapper-faq {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 25%;
		overflow: hidden;
	}

	.video-outer-wrapper-faq {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-faq {
		position: absolute;
		left: 50%;
		width: 300%;
		transform: translate(-50%, -15vw);
	}

	.faq-dory-video {
		width: 100%;
	}

	.video-wrapper-faq::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

	/* CONTACT */

	.video-wrapper-contact {
		position: absolute;
		z-index: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 25%;
		overflow: hidden;
	}

	.video-outer-wrapper-contact {
		position: relative;
		height: 100%;
	}

	.video-inner-wrapper-contact {
		position: absolute;
		left: 50%;
		width: 300%;
		transform: translate(-50%, -15vw);
	}

	.contact-dory-video {
		width: 100%;
	}

	.video-wrapper-contact::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		background: transparent;
		background: -moz-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15, 73, 219, 1)), color-stop(100%, rgba(15, 73, 219, 1)));
		background: -webkit-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -o-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: -ms-radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
		background: radial-gradient(rgba(15, 73, 219, .5) 0%, rgba(15, 73, 219, 1) 57%, rgba(15,73,219,1) 100%);
	}

  	.item {
		width: 90px;
		height: 60px;
		font-size: 10px;
	}

	.slide-num {    
		font-size: 20px;
		line-height: 26px;
		padding: 5px 15px !important;
		border-right: 1px solid rgba(255,255,255,0.1);
		display: inline-block;
		color: rgba(255,255,255,0.2);
	}
	
	.slider-container {
		width: 99%;
		height: 400px;
		/* margin-top: 65px; */
	}
	  
	.circle-slide {
		position: absolute;    
		top: 180px;
		left: calc(50% - 50px);
	}
	
	.process, .ellipse img, .footer-top {    
		margin-top: 50px;    
	}
	
	.enable-dis h1, .scope-header{
		padding-top: 50px;
	}
	
	.copyright {   
		padding: 50px 0 15px;
	}

	.step1::after,#faq::after, .step3::after, #contact::after, #about::after, #whyus::after{
		width: 100% !important;
		height: 20%;
	}

	#about::after{
		height: 70%;
		top: -200px;
	}

	.circle-images{
		width: 100%;
		height: 340px;
	}

	.slider-img {
		width: 25%;
	}

	.circle-images .slider-img:nth-child(2){
		left: 0;
	}

	.circle-images .slider-img:nth-child(3){
		right: 0;
	}

	.circle-images .slider-img:nth-child(4){
		left: 55px;
	}

	.circle-images .slider-img:nth-child(5){
		right: 55px;
	}

	.slider-img p {
		font-size: 12px;
	}
}

@media (max-width: 552px) {
	.train-video1 {
		width: 100%;	
	}
}