html {
	scroll-behavior: smooth;
}

body {
	color: #fff;
}

.content-set {
	position: relative;
	overflow: hidden;
	height: 100vh;
	background-color: #0F49DB;	
	background-size: cover;	
}

.content-set::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
	
	background: transparent;
	background: -moz-linear-gradient(top, transparent 0%, rgba(15,73,219,1) 90%, rgba(15,73,219,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, rgba(15,73,219,1)), color-stop(100%, rgba(15,73,219,1)));
	background: -webkit-linear-gradient(top, transparent 0%, rgba(15,73,219,1) 90%, rgba(15,73,219,1) 100%);
	background: -o-linear-gradient(top, transparent 0%, rgba(15,73,219,1) 90%, rgba(15,73,219,1) 100%);
	background: -ms-linear-gradient(top, transparent 0%, rgba(15,73,219,1) 90%, rgba(15,73,219,1) 100%);
	background: linear-gradient(to bottom, transparent 0%, rgba(15,73,219,1) 90%, rgba(15,73,219,1) 100%);
}

.dory-video {
	width: 100%;	
	position: relative;
}

.navbar-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.nav-link {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 0 40px !important;
}

.dory-center {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%); 
	z-index: 99;
}

.dory p:first-child {
	color: white;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;	
	letter-spacing: 0.5em;
	text-transform: uppercase;
}

.dory h1 {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 80px;
	text-align: center;
	color: #FFFFFF;
}

.dory p:last-child {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 32px;
	text-align: center;
	color:  #FFFFFF;
	max-width: 575px;
	display: block;
	margin: 0 auto;
	padding-bottom: 40px;
	padding-top: 20px;
}

.scope {
	display: flex;
	justify-content: center;
}

.custom-btn {
	width: 122px;
	height: 51px;
	background: #0E1A32;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 4px 16px rgba(255, 255, 255, 0.4), inset 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	transition: all 0.5s ease-in-out; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.custom-btn:hover {
	background-color: #FFFFFF;
	border:1px solid #fff;
	color: #1D4B79; 
}

.custom-btn:focus {
	outline: 0;
	box-shadow: none; 
}

.scope-background {
	background: linear-gradient(180deg, #2F9026 0%, #266090 48.44%, #26618E 100%);
}

.burning {
	width: 575px;
	font-family: Roboto;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	display: block;
	margin: 0 auto;
	margin-top: 25px;
}

.scope-back{
  background-color: #0F49DB ;
}

.scope-header{
   padding-top: 136px;
}

.scope-header p:first-child{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.scope-header h1{
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #FFFFFF;
	margin: 24px 0;
}

.scope-header h6{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
}

.scope-header p:last-child{
	font-family: Roboto;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
	max-width: 775px;
	display: block;
	margin: 0 auto;
}

.send-email {
}

.send-email:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.enable-color {
	background-color: #0F49DB ;
	position: relative;	
}

.enable-dis {
	position: relative;
	z-index: 1;
}

.enable-dis h1 {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 270px;
}

.enable-dis p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: #FFFFFF;
	text-align: center;
	width: 750px;
	display: block;
	margin: 0 auto;
}

.invest {
	font-family: Roboto !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 16px !important;
	line-height: 32px !important;
	text-align: center !important;
	color: #FFFFFF !important;
	padding-top: 34px !important;
}

.quote {
	font-family: Merriweather !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 16px !important;
	font-size: 16px !important;
	line-height: 32px !important;
	text-align: center !important;
	color: #FFFFFF !important;
	max-width: 577px !important;
	display: block;
	margin: 0 auto;
	padding-top: 40px;
}

.writter{
font-weight: bold !important;
font-size: 14px !important;
line-height: 16px !important;
text-align: center !important;
padding:24px 0; 
}

.play-button {
	width: 64px;
	height: 64px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 
}

.why-us {
  background-color: #0F49DB ;
}

.ellipse {
	position: relative;
	text-align: center;
	display: block;
	padding-top: 160px;	
}

.ellipse img {
	width: 56px;
	height: 56px;
	display: block;
	margin: 0 auto;
	
}

.ellipse span {
	padding-top: 48px !important;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.ellipse h1 {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 24px;
	padding-bottom: 40px;
}

.ellipse p {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: capitalize;
	color: #FFFFFF;
	width: 475px;
	display: block;
	margin: 0 auto;
	padding-bottom: 24px;
}

.ellipse small {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.mt-space {
	margin-top: 85px;
}

.fair-approch span {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.fair-approch h4 {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	color: #FFFFFF;
	padding: 16px 0;
	margin: 0;
}

.fair-approch p {
	width: 381px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}

.process {
	position: relative;
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 250px;
	margin-bottom: 70px;
}

.step span {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}

.step h1 {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 40px;
	color: #FFFFFF;
	padding:12px 0 28px 0;
	margin: 0; 
}

.one-pager {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding-bottom: 16px;
	margin-bottom: 0;
}

.make {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	width: 476px;
	display: -webkit-inline-box;
}

.make small { 
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 6px;
    margin-top: 7px;
} 

.one-page {
	width: 172px !important;
	height: 48px !important;
	margin: 16px 0;
	font-size: 14px;
}

.co-founding {
	display: inline-flex;
}

.co-founding-img {
	height: 32px;
}

.co-founding{
	margin-left: 15px;
	margin-top: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}

.faq {
	position: relative;
	display: block;
	margin:0 auto;
	text-align: center; 
} 

.faq span {
	padding-top: 48px !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
}

.faq h1 {
	font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 40px;
}

.container-set {
   margin: 0 60px;
}

/*---accordion style---*/

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"";
    padding-right: 5px;
    width: 23px;
    height: 23px;
    padding-left: 4px;
	background-image: url("../images/minus.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.panel-title > a.collapsed:before {
    float: right !important;
    content:"";
	background-image: url("../images/plus.svg");
}

.panel-title a {
	font-family: Merriweather;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	padding: 24px 0;
	display: block;
}

.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
    color: #FFFFFF;
}

.panel-body{
	font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 15px;
    padding-top:0; 
}

.panel-default{
	border-bottom: 1px solid #3F6DE2;
}

.custom-input{
	width: 576px;
	height: 48px;
	background-color: #FFFFFF;
	border-radius: 8px;
}

.f-name{
	font-family: Merriweather;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
}

.custom-area{
  height: 176px !important;
  border-radius: 8px;
}

.avatar {
	width: 122px;
	height: 51px;
	background: #0E1A32;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 4px 16px rgba(255, 255, 255, 0.4), inset 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	transition: all 0.5s ease-in-out; 
	display: flex;
	justify-content: center;
	align-items: center;
  	position: relative;
}

.avatar:hover{
	background-color: #ffff;
	color: #1D4B79;
}

.avatar:hover h1{
  	color: #1D4B79;	
}
.avatar input {
	width: 100%;
	height: 100%;
	opacity: 0; /* Hide the button */
	cursor: pointer;
}

.avatar h1{
	text-align: center;  
	font-size: .8em;
	position: absolute;
	top: 35%;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}

.copyright{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	display: block;
	padding: 136px 0;
}

.footer-top{
	margin-top: 136px;
	position: relative;
	z-index: 1;
}

.train-video{
	width: 600px;
	height: 400px;
	display: block;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}

.train-video:focus{
	border:none !important;
	outline: 0 !important;
	box-shadow: none !important;
}

.got-back{
	background-size: 1315px 719px;
	background-repeat: no-repeat;
	background-position: top center; 
}

.box{
	display: block;
	margin:0 auto;
	width: 120px;
	height: 120px;
	border:1px solid transparent;
	border-radius: 50%;
	position: relative;
	margin-bottom: 30px;
}
.box-hover{
	border-color: #5A89E5;
}
.box img{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%); 
}
.box-hover .menu{
	visibility: visible;
}
.menu{
	position: absolute;
	display: block;
	font-family: "Merriweather";
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #5A89E5;
	visibility: hidden;
}
.menu::after{
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-color: #5A89E5;
	border-radius: 10px;
}
.menu.active{
	color: #FFFFFF;
}
.menu.active::after{
	background-color: #fff;
}

.faq1{
	top: 15px !important;	
	left:-28px;		
}

.faq1:after{	
	top: 5px;
	right: -15px;
}

.faq2{	
	top: 80px !important;
	left:-55px;
}

.faq2:after{	
	top: 5px;
	right: -16px;
}

.faq3{	
	top: 121px !important;
	left:35px;	
}

.faq3:after{	
	top: -8px;
    right: 25px;
}

.faq4{	
	top: 80px !important;
	right:-54px;	
}

.faq4:after{
	top: 3px;
    right: 56px;
}

.faq5{	
	top: 17px !important;
	right:-64px;
}

.faq5:after{	
	top: 3px;
    right: 70px;
}

.faq6{	
	top: -23px !important;
	right:37px;	
}

.faq6:after{	
	top: 17px;
    right: 17px;
}

.menu:hover{
	color: #FFFFFF;
	text-decoration: none;
}

.border-set{
   border-top: 1px dashed rgba(255, 255, 255, 0.4);
   border-right: 1px dashed rgba(255, 255, 255, 0.4);	
   border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}

.border-set:before{
	position: absolute;
	content: " ";
	border-left: 1px dashed rgba(255, 255, 255, 0.4);
	height: 8%;
	top: 0;
	left:0; 
}

.border-set:after{
	position: absolute;
	content: " ";
	width: 10px;
	height: 10px;
	background-color: #fff;
	top: 7%;
	left:-5px; 
}

.border-left-set{
	border-left: 1px dashed rgba(255, 255, 255, 0.4);
}

.step{
	margin-bottom: 79px;
	margin-top: 24px;
}

.border-step-left:before{
	position: absolute;
	content: " ";
   border-left: 1px dashed rgba(255, 255, 255, 0.4);
   height: 5%;	
   top: 0;
   left:0; 
}

.border-step-left:after{
	position: absolute;
	content: " ";
	width: 10px;
	height: 10px;
	background-color: #fff;
	top: 4%;
	left:-5px; 
}

.dep-set{
	margin-top: -15px;
}

.stp-squre:before{
	position: absolute;
	content: " ";
	width: 10px;
	height: 10px;
	background-color: #fff;
	top: 8px;
	left:-5px; 
}

.slider-container{
	width: 99%;
	height: 650px;
}
.circle-slide{
  position: absolute;
  top: calc(50% - 50px);  		
	left: calc(50% - 100px);
}
.item{
	transition: .5s;
	position: absolute;
	width: 200px;
	height: 200px;    
	margin: 0;
	font-size: 16px;
	font-family: "Merriweather";
	color: #fff;
	justify-content: center;
	align-items: center;
	opacity: 0.2;
}

.item1.active, .item2.active, .item3.active, .item4.active, .item5.active{
	opacity: 1;
}

.controls{	
	text-align: center;	
	
}
.slide-num{
  	font-family: "Merriweather";
	font-size: 32px;
	line-height: 40px;
	padding: 5px 56px;
	border-right: 1px solid rgba(255,255,255,0.1);
	display: inline-block;
	color: rgba(255,255,255,0.2) !important;
	font-weight: normal;
}

.circle-tab .nav-item:last-child .slide-num {
  border-right: none;	
}

.slide-num.active {
	color: rgba(255,255,255, 1) !important;	
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent;
}
.selection-off {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* just a bit of responsive */

@media screen and (max-width: 1023px) {
  .item {
    width: 190px;
    height: 60px;
    font-size: 14px;
  }
}

.contact-form ::placeholder {
	color: #CBCBCB;
}

.circle-menu {
	position: fixed;
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	transition: all 0.5s;
}

video::-webkit-media-controls {
	opacity: 0;
}

.video-Popup {
	
}

@media (min-width: 576px) {
	#video-Popup .modal-dialog {
		max-width: 640px;
		margin: 1.75rem auto;
	}

	.opn-video {
		width: 600px;
		margin: 0 auto;
		display: block;
	}
}

.modal-backdrop.show {
	display: none;
}

#video-Popup .modal-dialog .close {
	position: absolute;
    right: -17px;
    background: #FFFFFF;
    width: 35px;
    height: 35px;
    text-align: center;
    display: block;
    border: 2px solid #5A89E5;
    padding: 0px;
    border-radius: 50px;
    opacity: 1;
    top: -17px;
}

#video-Popup .modal-dialog .modal-content {
		border: 0;	
	min-height: 20px;
	background: transparent;
}

video-Popup video:focus {
	outline: none;
}

#video-Popup .modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
    margin: 0;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,0,0,0.3);
}

#contact::after {
	content: "";
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	mix-blend-mode: lighten;
	position: absolute;
	top: 20px;
	width: 1315px;
	height: 719px;
	left: 50%;
	transform: translateX(-50%);
}

#about,#faq, #whyus, #contact {
	position: relative
}

#about::after {
	content: "";
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	mix-blend-mode: lighten;
	position: absolute;
	top: 20px;
	width: 50%;
	height: 50%;
	left: 50%;
	transform: translateX(-50%);
}

#faq::after {
	content: "";
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	mix-blend-mode: lighten;
	position: absolute;
	top: 20px;
	width: 1315px;
	height: 719px;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
}

#whyus::after {
	content: "";
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	mix-blend-mode: lighten;
	position: absolute;
	top: 20px;
	width: 50%;
	height: 50%;
	left: 50%;
	transform: translateX(-50%);
}

#process {
	position: relative;
	overflow-x: hidden;
}

.step1::after {
	content: "";
	mix-blend-mode: lighten;
	opacity: 0.7;
	background-position: right;
	background-repeat: no-repeat;
	position: absolute;
	top: -100px;
	right: 0;
	width: 1675px;
	height: 1048px;
	pointer-events: none;
}

.step3::after {
	content: "";
	mix-blend-mode: lighten;
	opacity: 0.7;
	background-position: left center;
	background-repeat: no-repeat;
	position: absolute;
	top: 800px;
	left: 0;
	width: 1675px;
	height: 1048px;
}

.circle-tab {
	margin-top: 65px;
}

.slider-img {
	width: 22%;
}

.circle-images {
	width: 720px;
	position: relative;
	margin: auto;	
	height: 530px;
}

.circle-images .slider-img:nth-child(2) {	
	position: absolute;
	left: 50px;
}

.circle-images .slider-img:nth-child(3) {	
	position: absolute;
	right: 50px;
}

.circle-images .slider-img:nth-child(4) {	
	position: absolute;
	left: 125px;
	bottom: 0;	
}

.circle-images .slider-img:nth-child(5) {	
	position: absolute;
	right: 125px;
	bottom: 0;
}

.logo {
	width: 100px;
    margin: 0 auto;
    display: block;
}