<div class="login-page-container">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login-title-container">
            <h1 class="login-title">Login</h1>
        </div>
        <div *ngIf="submitted && authError" class="auth-error-container">
            <div class="auth-error">{{authError}}</div>
        </div>
        <div class="login-inputs">
            <div class=input-container>
                <input class="email-input" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    formControlName="email" type="text" placeholder="Email" (input)="inputChanged()">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class=input-container>
                <input class="password-input" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    formControlName="password" type="password" placeholder="Password" (input)="inputChanged()">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least {{passwordMinLength}} characters
                    </div>
                </div>
            </div>
        </div>
    <div class="forgot-my-password-container">
        <div class="forgot-my-password">Forgot my password</div>
    </div>
        <div class="login-button-container">
            <div class="login-button-inner-container">
                <input class="login-button" type="submit" value="Submit" [ngClass]="showLoader ? 'disabled' : ''"
                    [disabled]="showLoader">
                <div *ngIf="showLoader" class="loader-container">
                    <spinning-loader class="login-loader"></spinning-loader>
                </div>
            </div>
        </div>
    </form>
</div>