.bg-video-outer-container {
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        background: transparent;
        background: -webkit-gradient(
            left top,
            left bottom,
            color-stop(0%, transparent),
            color-stop(90%, rgba(15, 73, 219, 1)),
            color-stop(100%, rgba(15, 73, 219, 1))
        );
        background: -moz-radial-gradient(rgba(15, 73, 219, 0.5) 0%, #0f49db 50%, #0f49db 100%);
        background: -webkit-radial-gradient(rgba(15, 73, 219, 0.5) 0%, #0f49db 50%, #0f49db 100%);
        background: -o-radial-gradient(rgba(15, 73, 219, 0.5) 0%, #0f49db 50%, #0f49db 100%);
        background: -ms-radial-gradient(rgba(15, 73, 219, 0.5) 0%, #0f49db 50%, #0f49db 100%);
        background: radial-gradient(rgba(15, 73, 219, 0.5) 0%, #0f49db 50%, #0f49db 100%);
    }

    .bg-video-inner-container {
        width: 100%;
        height: 50vw;
        overflow: hidden;
        position: relative;

        > .bg-video {
            width: 150%;
            height: 50vw;
            position: absolute;
            left: 40%;
            top: 0;
            transform: translate(-50%, 0);

            > iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}
