/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/style.scss";

html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
	width: 0px;
}

body::-webkit-scrollbar-track {
	background-color: #0f49db;
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(0, 0, 0, 0.3);
	border-radius: 20px;
	border: 3px solid #0f49db;
}

button:focus,
button:active:focus,
button.active:focus {
	outline: none !important;
	outline-style: none !important;
}

*,
:after,
:before {
	box-sizing: border-box;
}

.custom-dialog-container .mat-dialog-container {
	background-color: transparent;
	padding: 0px;
	border-radius: 12px;
}
