@media (min-width: 320px) and (max-width: 480px) {
	/* .dory-video {
		width: auto;
		height: auto;
	} */
	/* .dory h1 {
		font-size: 16px;
		line-height: 20px;
	}
	.dory p:last-child {
		font-size: 9px;
		line-height: 20px;
	} */
	.custom-btn {
		width: 80px;
		height: 33px;
		font-size: 10px;
	}
	.enable-dis h1 {
		font-size: 20px;
		line-height: 35px;
	}
	.enable-dis p {
		width: auto;
		font-size: 12px !important;
		line-height: 20px !important;
	}
	.train-video {
		width: 290px;
		height: auto;
	}
	.ellipse h1 {
		font-size: 20px;
		line-height: 34px;
	}
	.process {
		font-size: 20px;
		line-height: 35px;
		margin: 100px 0 70px !important;
	}
	.ellipse p {
		width: auto;
		font-size: 12px;
		line-height: 20px;
	}
	.ellipse small {
		font-size: 10px;
	}
	.fair-approch p {
		width: auto;
		font-size: 12px;
		line-height: 20px;
	}
	.container-set {
		margin: auto;
	}
	.make {
		width: auto;
		font-size: 12px;
	}
	.panel-title a {
		font-size: 12px;
	}
	.panel-body {
		font-size: 10px;
	}
	.panel-title>a:before {
		padding-left: 5px;
		padding-top: 1px;
	}
	.faq h1 {
		font-size: 20px;
		line-height: 35px;
	}
	.custom-input {
		width: 290px;
	}
	.copyright {
		font-size: 12px;
	}
	.under-copyright {
		padding: 8px 0 136px;
	}
	.avatar h1 {
		top: 35%;
		font-size: 10px;
	}
	.burning {
		width: 200px;
		font-size: 10px;
		line-height: 20px;
		text-align: center;
	}
	.faq span {
		font-size: 12px;
	}
	.co-founding {
		font-size: 12px;
	}
	.fair-approch h4 {
		font-size: 16px;
	}
	.step h1 {
		font-size: 20px;
		line-height: 35px;
	}
	.one-pager {
		font-size: 12px;
	}
	.border-set {
		border: none;
		border-left: 1px dashed rgba(255, 255, 255, 0.4);
	}
	.border-set:before {
		position: absolute;
		content: " ";
		width: 10px;
		height: 10px;
		background-color: #fff;
		top: 7px;
		left: -5px;
	}
	.border-m-set {
		border-left: 1px dashed rgba(255, 255, 255, 0.4);
		position: relative;
	}
	.border-m-set:before {
		position: absolute;
		content: " ";
		width: 10px;
		height: 10px;
		background-color: #fff;
		top: 7px;
		left: -5px;
	}
	.border-set:after {
		border: none;
		display: none;
	}
	.border-left-set {
		border: none;
	}
	.border-step-left {
		border-left: 1px dashed rgba(255, 255, 255, 0.4);
		position: relative;
	}
	.border-step-left:before {
		position: absolute;
		content: " ";
		width: 10px;
		height: 10px;
		background-color: #fff;
		top: 7px;
		left: -5px;
	}
	.border-step-left:after {
		display: none;
	}
	.avatar {
		width: 80px;
		height: 40px;
	}
	.step {
		margin-top: 3px;
		margin-bottom: 0;
	}
	.stp-squre:before {
		display: none;
	}
}

@media(min-width: 1200px) and (max-width: 1420px) {
	
}

@media(min-width: 768px) and (max-width: 1200px) {
	
	.content-set {
		height: 100vh;
	}
	.enable-dis h1 {
		font-size: 40px;
	}
	.ellipse h1 {
		font-size: 40px;
	}
	.process {
		font-size: 40px;
	}
	.faq h1 {
		font-size: 40px;
	}
	.fair-approch p {
		width: auto;
	}
	.make {
		width: 302px;
	}
	.container-set {
		margin: auto;
	}
	.avatar h1 {
		top: 18px;
	}
	.step1::after, #faq::after, .step3::after, #contact::after, #about::after {
		width: 100% !important;
		height: 75%;
	}
}

@media(min-width: 1600px) and (max-width: 2800px) {
	
	.container-set {
		margin: auto;
	}
}

@media screen and (max-width: 1023px) {
	.process, .ellipse img, .footer-top {
		margin-top: 100px;
	}
	.enable-dis h1 {
		padding-top: 100px;
	}
}

@media screen and (max-width: 767px) {
	.item {
		width: 90px;
		height: 60px;
		font-size: 10px;
	}
	.process, .ellipse img, .footer-top {
		margin-top: 50px;
	}
	.enable-dis h1 {
		padding-top: 50px;
	}
	.copyright {
		padding: 50px 0 0px;
	}
	.under-copyright {
		padding: 0px 0 20px;
	}
	.step1 {
		margin-bottom: 20px !important;
	}
	.step1::after, #faq::after, .step3::after, #contact::after, #about::after, #whyus::after {
		width: 100% !important;
		height: 20%;
	}
	#about::after {
		height: 70%;
		top: -200px;
	}
}

@media (max-width: 552px) {
	.train-video1 {
		width: 100%;
	}
}