html {
	scroll-behavior: smooth;
}

body {
	color: #fff;
}

.content-set {
	position: relative;
	overflow: hidden;
	height: 100vh;
	background-color: #0f49db;
	background-size: cover;
}

.content-set::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	background: transparent;
	background: -moz-linear-gradient(top, transparent 0%, rgba(15, 73, 219, 1) 90%, rgba(15, 73, 219, 1) 100%);
	background: -webkit-gradient(
		left top,
		left bottom,
		color-stop(0%, transparent),
		color-stop(90%, rgba(15, 73, 219, 1)),
		color-stop(100%, rgba(15, 73, 219, 1))
	);
	background: -webkit-linear-gradient(top, transparent 0%, rgba(15, 73, 219, 1) 90%, rgba(15, 73, 219, 1) 100%);
	background: -o-linear-gradient(top, transparent 0%, rgba(15, 73, 219, 1) 90%, rgba(15, 73, 219, 1) 100%);
	background: -ms-linear-gradient(top, transparent 0%, rgba(15, 73, 219, 1) 90%, rgba(15, 73, 219, 1) 100%);
	background: linear-gradient(to bottom, transparent 0%, rgba(15, 73, 219, 1) 90%, rgba(15, 73, 219, 1) 100%);
}

.dory-video {
	width: 100%;
	position: relative;
}

.navbar-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.nav-link {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	padding: 0 40px !important;
}

/* Intro Section */

/* .intro-section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
}

.dory p:first-child {
	color: white;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
}

.dory h1 {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 80px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 8px;
}

.dory p:last-child {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
	max-width: 575px;
	display: block;
	margin: 0 auto;
	padding-bottom: 40px;
	padding-top: 20px;
} */

.scope {
	display: flex;
	justify-content: center;
	/* margin-bottom: 25px; */
}

.custom-btn {
	width: 122px;
	height: 51px;
	background: #0e1a32;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 4px 16px rgba(255, 255, 255, 0.4),
		inset 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
	transition: all 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.custom-btn:hover {
	background-color: #ffffff;
	border: 1px solid #fff;
	color: #1d4b79;
}

.custom-btn:focus {
	outline: 0;
	box-shadow: none;
}

.scope-background {
	background: linear-gradient(180deg, #2f9026 0%, #266090 48.44%, #26618e 100%);
}

.burning {
	width: 575px;
	font-family: Roboto;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	display: block;
	margin: 0 auto !important;
	margin-top: 25px !important;
}

/* Scope Section */

.send-email:hover {
	color: #ffffff;
	text-decoration: none;
}

/* About Section */

.enable-dis {
	position: relative;
	z-index: 1;
}

.enable-dis h1 {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #ffffff;
	padding-top: 165px;
	margin-bottom: 8px;
}

.enable-dis p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: #ffffff;
	text-align: center;
	width: 750px;
	display: block;
	margin: 0 auto;
}

.invest {
	font-family: Roboto !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 16px !important;
	line-height: 32px !important;
	text-align: justify !important;
	color: #ffffff !important;
	padding-top: 34px !important;
}

.quote {
	font-family: Merriweather !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 16px !important;
	font-size: 16px !important;
	line-height: 24px !important;
	text-align: center !important;
	color: #ffffff !important;
	max-width: 577px !important;
	display: block;
	margin: 0 auto;
	padding-top: 40px;
}

.writter {
	font-weight: bold !important;
	font-size: 14px !important;
	line-height: 16px !important;
	text-align: center !important;
	padding: 24px 0;
}

.play-button {
	width: 64px;
	height: 64px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Why Us Section */
/* 
.why-us {
	background-color: #0F49DB;
} */

.ellipse {
	position: relative;
	text-align: center;
	display: block;
	padding-top: 160px;
}

.ellipse img {
	width: 56px;
	height: 56px;
	display: block;
	margin: 0 auto;
}

.ellipse span {
	padding-top: 48px !important;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #ffffff;
}

.ellipse h1 {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #ffffff;
	padding-top: 24px;
	padding-bottom: 40px;
	margin-bottom: 8px;
}

.ellipse p {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: capitalize;
	color: #ffffff;
	width: 475px;
	display: block;
	margin: 0 auto;
	padding-bottom: 24px;
}

.ellipse small {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #ffffff;
}

.mt-space {
	margin-top: 85px;
}

.fair-approch span {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #ffffff;
}

.fair-approch h4 {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	padding: 16px 0;
	margin: 0;
}

.fair-approch p {
	text-align: justify;
	width: 381px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

.process {
	font: 400 48px/72px Merriweather, "Helvetica Neue", sans-serif !important;
	position: relative;
	font-style: normal;
	/* font-weight: normal; */
	text-align: center;
	color: #ffffff;
	margin: 250px 0px 70px !important;
}

.step span {
	font-family: Roboto;
	font-style: normal;
	/* font-weight: bold; */
	/* font-size: 14px; */
	/* line-height: 16px; */
	color: #ffffff;

	font: 700 14px/16px Roboto, "Helvetica Neue", sans-serif;
}

.step h1 {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	/* font-size: 24px;
	line-height: 40px; */
	color: #ffffff;
	padding: 12px 0 28px 0;
	margin: 0;

	font: 400 24px/40px Merriweather, "Helvetica Neue", sans-serif;
}

.step a {
	font: 400 16px/24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto !important;
}

.one-pager {
	/* font-family: Roboto; */
	font-style: normal;
	/* font-weight: bold; */
	/* font-size: 16px; */
	/* line-height: 24px; */
	color: #ffffff;
	padding-bottom: 16px;
	/* margin-bottom: 0; */

	margin: 0px !important;
	font: 700 16px/24px Roboto, "Helvetica Neue", sans-serif !important;
}

.make {
	/* font-family: Roboto; */
	font-style: normal;
	/* font-weight: normal; */
	/* font-size: 14px; */
	/* line-height: 20px; */
	color: #ffffff;
	width: 476px;
	display: -webkit-inline-box;

	margin: 0 0 16px !important;
	font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif !important;
}

.make small {
	width: 4px;
	height: 4px;
	background-color: #fff;
	border-radius: 10px;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-right: 6px;
	margin-top: 7px;
}

.one-page {
	width: 172px !important;
	height: 48px !important;
	margin: 16px 0;
	font-size: 14px;
}

.co-founding {
	display: inline-flex;
}

.co-founding-img {
	height: 32px;
}

.co-founding {
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	font: 700 16px/24px Roboto, "Helvetica Neue", sans-serif !important;
	margin: 5px 0 12px 15px !important;
}

.co-founding-ml-0 {
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	font: 700 16px/24px Roboto, "Helvetica Neue", sans-serif !important;
	margin: 5px 0 12px 0px !important;
}

/* FAQ */

.faq {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.faq span {
	padding-top: 48px !important;
	/* font-family: Roboto; */
	font-style: normal;
	/* font-weight: bold; */
	/* font-size: 14px;
	line-height: 16px; */
	text-align: center;
	letter-spacing: 0.5em !important;
	text-transform: uppercase;
	color: #ffffff;
	display: block;

	font: 700 14px/16px Roboto, "Helvetica Neue", sans-serif;
}

.faq h1 {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #ffffff;
	padding-top: 24px;
	padding-bottom: 40px;
	margin-bottom: 8px !important;
}

.container-set {
	margin: 0 60px;
}

/*---accordion style---*/

.panel-title {
	margin: 0px !important;
	display: flex;
	align-items: center;
}

.panel-title > a {
	display: flex;
	align-items: center;
	font-family: Merriweather;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	padding: 24px 0;
	flex: 1;
}

.panel-title > a > .accordion-title {
	flex: 1;
}

.panel-title > a > mat-icon {
	margin-left: 10px;
}

.panel-title > a > .collapse-accordion-icon {
	display: flex;
}

.panel-title > a.collapsed > .collapse-accordion-icon {
	display: none;
}

.panel-title > a > .expand-accordion-icon {
	display: none;
}

.panel-title > a.collapsed > .expand-accordion-icon {
	display: flex;
}

.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
	text-decoration: none;
	color: #ffffff;
}

.panel-body {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	padding-bottom: 15px;
	padding-top: 0;
}

.panel-default {
	border-bottom: 1px solid #3f6de2;
}

.custom-input {
	width: 576px;
	height: 48px;
	background-color: #ffffff;
	border-radius: 8px;
}

.f-name {
	font-family: Merriweather;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
}

.custom-area {
	height: 176px !important;
	border-radius: 8px;
}

.avatar {
	width: 122px;
	height: 51px;
	background: #0e1a32;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 4px 16px rgba(255, 255, 255, 0.4),
		inset 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
	transition: all 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.avatar:hover {
	background-color: #ffff;
	color: #1d4b79;
}

.avatar:hover h1 {
	color: #1d4b79;
}

.avatar input {
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.avatar h1 {
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 0.8em;
	position: absolute;
	top: 35%;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

.copyright {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
	display: block;
	padding: 115px 0 0;
}

.under-copyright {
	padding: 8px 0 95px;
}

.footer-top {
	margin-top: 136px;
	position: relative;
	z-index: 1;
}

.train-video {
	width: 600px;
	height: 400px;
	display: block;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}

.train-video:focus {
	border: none !important;
	outline: 0 !important;
	box-shadow: none !important;
}

.box {
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	border: 1px solid transparent;
	border-radius: 50%;
	position: relative;
	margin-bottom: 30px;
}

.box-hover {
	border-color: #5a89e5;
}

.box img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box-hover .menu {
	visibility: visible;
}

.menu {
	position: absolute;
	display: block;
	font-family: "Merriweather";
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #5a89e5;
	visibility: hidden;
}

.menu::after {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-color: #5a89e5;
	border-radius: 10px;
}

.menu.active {
	color: #ffffff;
}

.menu.active::after {
	background-color: #fff;
}

.border-set {
	border-top: 1px dashed rgba(255, 255, 255, 0.4);
	border-right: 1px dashed rgba(255, 255, 255, 0.4);
	border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}

.border-set:before {
	position: absolute;
	content: " ";
	border-left: 1px dashed rgba(255, 255, 255, 0.4);
	height: 8%;
	top: 0;
	left: 0;
}

.border-set:after {
	position: absolute;
	content: " ";
	width: 10px;
	height: 10px;
	background-color: #fff;
	top: 7%;
	left: -5px;
}

.border-left-set {
	border-left: 1px dashed rgba(255, 255, 255, 0.4);
}

.step {
	margin-bottom: 79px;
	margin-top: 28px;
}

.step-2 {
	margin-top: 4px;
}

.border-step-left:before {
	position: absolute;
	content: " ";
	border-left: 1px dashed rgba(255, 255, 255, 0.4);
	height: 5%;
	top: 0;
	left: 0;
}

.border-step-left:after {
	position: absolute;
	content: " ";
	width: 10px;
	height: 10px;
	background-color: #fff;
	top: 4%;
	left: -5px;
}

.dep-set {
	margin-top: -15px;
}

.stp-squre:before {
	position: absolute;
	content: " ";
	width: 10px;
	height: 10px;
	background-color: #fff;
	top: 8px;
	left: -5px;
}

.item {
	transition: 0.5s;
	position: absolute;
	width: 200px;
	height: 200px;
	margin: 0;
	font-size: 16px;
	font-family: "Merriweather";
	color: #fff;
	justify-content: center;
	align-items: center;
	opacity: 0.2;
}

.item1.active,
.item2.active,
.item3.active,
.item4.active,
.item5.active {
	opacity: 1;
}

.controls {
	text-align: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #fff;
	background-color: transparent;
}

.selection-off {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* just a bit of responsive */

@media screen and (max-width: 1023px) {
	.item {
		width: 190px;
		height: 60px;
		font-size: 14px;
	}
}

.contact-form ::placeholder {
	color: #cbcbcb;
}

.circle-menu {
	position: fixed;
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	transition: all 0.5s;
	width: 250px;
}

video::-webkit-media-controls {
	opacity: 0;
}

@media (min-width: 576px) {
	#video-popup .modal-dialog {
		max-width: 640px;
		margin: 1.75rem auto;
	}
	.opn-video {
		width: 600px;
		margin: 0 auto;
		display: block;
	}
}

.modal-backdrop.show {
	display: none;
}

#video-popup .modal-dialog .close {
	position: absolute;
	right: -17px;
	background: #ffffff;
	width: 35px;
	height: 35px;
	text-align: center;
	display: block;
	border: 2px solid #5a89e5;
	padding: 0px;
	border-radius: 50px;
	opacity: 1;
	top: -17px;
}

.close {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.close > i {
	font-size: 17px;
}

#video-popup .modal-dialog .modal-content {
	border: 0;
	min-height: 20px;
	background: transparent;
}

video-popup video:focus {
	outline: none;
}

#video-popup .modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	margin: 0;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
	background: rgba(0, 0, 0, 0.3);
}

#contact::after {
	content: "";
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	mix-blend-mode: lighten;
	position: absolute;
	top: 20px;
	width: 1315px;
	height: 719px;
	left: 50%;
	transform: translateX(-50%);
}

#scope {
	z-index: 6;
}

#about {
	z-index: 5;
}

#whyus {
	z-index: 4;
}

#leadership {
	z-index: 3;
}

#process {
	z-index: 2;
}

#faq {
	z-index: 1;
}

#scope,
#about,
#faq,
#whyus,
#leadership,
#process,
#contact {
	position: relative;
}

#about::after {
	content: "";
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	mix-blend-mode: lighten;
	position: absolute;
	top: 20px;
	width: 50%;
	height: 50%;
	left: 50%;
	transform: translateX(-50%);
}

#faq::after {
	content: "";
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	mix-blend-mode: lighten;
	position: absolute;
	top: 20px;
	width: 1315px;
	height: 719px;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
}

#whyus::after {
	content: "";
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	mix-blend-mode: lighten;
	position: absolute;
	top: 20px;
	width: 50%;
	height: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.step1::after {
	content: "";
	mix-blend-mode: lighten;
	opacity: 0.7;
	background-position: right;
	background-repeat: no-repeat;
	position: absolute;
	top: -100px;
	right: 0;
	width: 1675px;
	height: 1048px;
	pointer-events: none;
}

.step3::after {
	content: "";
	mix-blend-mode: lighten;
	opacity: 0.7;
	background-position: left center;
	background-repeat: no-repeat;
	position: absolute;
	top: 800px;
	left: 0;
	width: 1675px;
	height: 1048px;
}

/* .logo {
	width: 100px;
	margin: 0 auto;
	display: block;
} */
