<div class="faq-section-container">
    <video-element class="faq-section-background-video"></video-element>
    <div class="section-header">
        <div class="section-title">Got a Question?</div>
        <h1>FAQ</h1>
    </div>
    <div class="faq-section-body">
        <div class="faq-section-accordion-container">
            <div #accordion class="faq-section-accordion">
                <div class="accordion-item-container" *ngFor="let paragraph of data.paragraphs; let i = index">
                    <div class="accordion-item-question" (click)="onAccordionClick($event)">
                        <div class="accordion-item-question-text">{{paragraph.title}}</div>
                        <div class="accordion-item-icons">
                            <mat-icon class="collapse-accordion-icon">remove_circle_outline</mat-icon>
                            <mat-icon class="expand-accordion-icon">add_circle_outline</mat-icon>
                        </div>
                    </div>
                    <div class="accordion-item-answer">
                        <div *ngIf="i === 1; else elseBlock1" class="accordion-item-answer-text">
                            Click <span class="scope-button" (click)="scrollToSection('process')">here</span> to go back and read the brief
                            instructions in the “Process” page, hereinabove, as well as emailing us your one-page
                            teaser to <em>dealflow@dory.capital</em>.

                        </div>
                        <ng-template #elseBlock1>
                            <div *ngIf="i === 5; else elseBlock2" class="accordion-item-answer-text">
                                Of course you should! Dory Capital welcomes any groundbreaking first to market ideas and
                                technologies. The fields featured on our website are a mere general idea of topics that
                                we are familiar with, and have the right network to enable and support. In short, if you
                                believe you have something brilliant and you wish to present it to us, by all means go
                                ahead and do so – <a href="mailto:dealflow@dory.capital" class="send-email">contact
                                    us</a>.
                            </div>
                        </ng-template>
                        <ng-template #elseBlock2>
                            <div class="accordion-item-answer-text">
                                {{paragraph.text}}
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>