@import "../../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .faq-section-container {
        padding-top: 25px;

        > .faq-section-background-video {
            top: calc(-125px + (0.238 * (900px - 100vw)));
        }

        > .section-header {
            > .section-title {
                font-size: 12px;
                margin-bottom: 10px;
            }

            > h1 {
                font-size: 22px;
                line-height: 38px;
            }
        }

        > .faq-section-body {
            > .faq-section-accordion-container {
                > .faq-section-accordion-inner-container {
                    > #accordion {
                        > .faq-item-container {
                            > .faq-item-question-container {
                                > .faq-item-question {
                                    & > a > .accordion-title {
                                        font-size: 12px;
                                    }
                                }
                            }

                            > .faq-item-answer-container {
                                > .faq-item-answer {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
