@import "../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .tech-carousels-container {
    
        > .tech-carousels-tabs-container {
    
            > .tech-carousels-tabs {
    
                > .tech-carousel-tab {
                    font-size: 15px;
                    padding: 5px 20px;
                }
            }
    
            > .tech-carousels-tabs-underscore {
                height: 6px;
                bottom: -18px;
            }
    
            > .tech-carousels-tabs-line {
                height: 10px;
                bottom: -20px;
            }
        }
    
        > .tech-carousels {
            > .tech-carousel-rotator-container {
                border-radius: 10px;
                padding: 10px;
    
                > .tech-carousel-rotator-icon {
                    width: 20px;
                }
    
                > .tech-carousel-rotator-text {
                    font-size: 10px;
                    margin-left: 10px;
                }
            }

            > .tech-carousel {
                width: 320px;
                height: 320px;
    
                > .tech-carousel-item {
                    > img {
                        width: 80px;
                    }
    
                    > .tech-carousel-item-text {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}