.tech-carousels-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .tech-carousels-tabs-container {
        color: #fff;
        position: relative;
        margin-bottom: 80px;

        > .tech-carousels-tabs {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding: 0;
            margin: 0 0 20px;

            > .tech-carousel-tab {
                cursor: pointer;
                user-select: none;
                font-family: Merriweather;
                font-size: 32px;
                line-height: 40px;
                width: 100px;
                display: flex;
                justify-content: center;
                font-weight: 400;
                opacity: 0.3;
                transition: opacity 0.5s;

                &:hover {
                    opacity: 1;
                }

                &.selected {
                    opacity: 1;
                }
            }
        }

        > .tabs-slider-container {
            display: flex;
            justify-content: center;

            > input[type="range"] {
                -webkit-appearance: none;
                appearance: none;
                width: 96%;
                height: 10px;
                background: #000;
                outline: none;
                border-radius: 10px;
                cursor: pointer;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 80px;
                    height: 14px;
                    background: #fff;
                    cursor: pointer;
                    border-radius: 10px;
                }

                &::-moz-range-thumb {
                    width: 80px;
                    height: 14px;
                    background: #fff;
                    cursor: pointer;
                    border-radius: 10px;
                }
            }
        }
    }

    > .tech-carousels {
        display: flex;
        justify-content: center;
        align-items: center;

        > .tech-carousel-rotator-container {
            cursor: pointer;
            position: absolute;
            z-index: 1;
            padding: 0 15px;
            height: 46px;
            background-color: #0e1a32;
            box-shadow: 0px 1px 1px rgb(255 255 255 / 20%), 0px 4px 16px rgb(255 255 255 / 40%),
                inset 0px 2px 8px rgb(0 0 0 / 20%);
            border-radius: 12px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #ffffff;
            transition: all 0.5s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            user-select: none;
            border: 1px solid transparent;

            > .tech-carousel-rotator-icon {
                user-select: none;
            }

            > .tech-carousel-rotator-text {
                margin-left: 10px;
            }
        }

        > .tech-carousel {
            position: relative;
            width: 700px;
            height: 700px;
            display: none;

            &.show-carousel {
                display: flex;
            }

            > .tech-carousel-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transition: top 0.5s, left 0.5s, opacity 0.5s;
                transform: translate(-50%, -50%);
                cursor: pointer;
                opacity: 0.3;
                z-index: 1000;

                &:hover {
                    opacity: 1;
                }

                &.active {
                    opacity: 1;
                }

                > .tech-carousel-item-text {
                    font-size: 16px;
                    font-family: Merriweather;
                    color: #fff;
                    text-align: center;
                    width: 80%;
                }
            }
        }
    }
}
