<div class="tech-carousels-container">
    <div class="tech-carousels-tabs-container">
        <ul #tabs class="tech-carousels-tabs">
            <li *ngFor="let tab of carouselsTabs; let i = index" class="tech-carousel-tab"
                [ngClass]="selectedTab === i ? 'selected' : ''" (click)="selectTab(i)">{{tab}}</li>
        </ul>
        <div class="tabs-slider-container">
            <input type="range" min="0" max="4" [(ngModel)]="selectedTab">
        </div>
    </div>
    <div #carsouels class="tech-carousels">
        <div class="tech-carousel-rotator-container" (click)="rotateCarousel()">
            <img class="tech-carousel-rotator-icon" [src]="imgSrc(rotateIconId, false)" alt="rotate-icon"
                loading="lazy" />
            <div class="tech-carousel-rotator-text">Click to rotate</div>
        </div>
        <div *ngFor="let carouselImgs of carouselsImgs; let i = index" class="tech-carousel"
            [ngClass]="selectedTab === i ? 'show-carousel' : ''">
            <div *ngFor="let img of carouselImgs; let j = index" class="tech-carousel-item"
                [ngClass]="carouselsIndices[selectedTab] === j ? 'active' : ''" (click)="selectCarouselItem(j)">
                <img [src]="carouselImg(i + 1, img.id)" [alt]="img.name" width="200" height="142.5" loading="lazy" />
                <div class="tech-carousel-item-text">{{img.name}}</div>
            </div>
        </div>
    </div>
</div>