@import "../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .tech-carousels-container {
        > .tech-carousels-tabs-container {
            margin-bottom: 30px;

            > .tech-carousels-tabs {
                margin: 0;

                > .tech-carousel-tab {
                    font-size: 15px;
                    width: 65px;
                }
            }

            > .tabs-slider-container {
                > input[type="range"] {
                    width: 96%;
                    height: 6px;

                    &::-webkit-slider-thumb {
                        width: 50px;
                        height: 10px;
                        border-radius: 10px;
                    }

                    &::-moz-range-thumb {
                        width: 80px;
                        height: 10px;
                        border-radius: 10px;
                    }
                }
            }
        }

        > .tech-carousels {
            > .tech-carousel-rotator-container {
                border-radius: 8px;
                padding: 8px;

                > .tech-carousel-rotator-icon {
                    width: 15px;
                }

                > .tech-carousel-rotator-text {
                    font-size: 12px;
                    margin-left: 8px;
                }
            }

            > .tech-carousel {
                width: 320px;
                height: 320px;

                > .tech-carousel-item {
                    > img {
                        width: 80px;
                    }

                    > .tech-carousel-item-text {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
