.process-section-container {
    position: relative;
    padding-top: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .process-section-background-video-1 {
        position: absolute;
        width: 100%;
        z-index: 0;
        right: -50%;
        // let topIn1920 = -100
        // let topIn901 = 100
        // 0.196 = Math.abs(topIn1920 - topIn901) / (1920 - 901)
        top: calc(-100px + (0.196 * (1920px - 100vw)));
    }

    > .process-section-background-video-2 {
        position: absolute;
        width: 100%;
        z-index: 0;
        left: -50%;
        top: calc(900px + (0.49 * (1920px - 100vw)));
    }

    > .section-header {
        position: relative;

        > h1 {
            font-family: Merriweather;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 72px;
            text-align: center;
            color: #ffffff;
            white-space: pre-wrap;
        }
    }

    > .process-body {
        & h1 {
            white-space: pre-wrap !important;
        }

        & p {
            white-space: pre-wrap !important;
        }

        > .process-section-step-1 {
            > div > div > .one-page-example-container {
                margin: 5px 0 0;

                & a {
                    text-decoration: none;
                    user-select: none;
                    display: inline-flex;

                    > button {
                        padding: 12px 14px;
                        font-size: 14px;
                        background-color: #0e1a32;
                        box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 4px 16px rgba(255, 255, 255, 0.4),
                            inset 0px 2px 8px rgba(0, 0, 0, 0.2);
                        border-radius: 12px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        line-height: 19px;
                        text-align: center;
                        color: #ffffff;
                        transition: all 0.5s ease-in-out;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: #ffffff;
                            border: 1px solid #fff;
                            color: #1d4b79;
                        }

                        &:focus {
                            outline: 0;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}
