<div class="process-section-container">
    <video-element class="process-section-background-video-1"></video-element>
    <video-element class="process-section-background-video-2"></video-element>
    <div class="section-header">
        <h1>{{data.title}}</h1>
    </div>
    <div class="process-section-body">
        <div class="process-section-row-container">
            <div class="process-section-step-1-container">
                <div class="process-section-step-1">
                    <span>STEP 1</span>
                    <h1>{{data.paragraphs[0].title}}</h1>
                    <p class="process-section-step-1-subtitle">Please send us a one-pager teaser
                        to <em>dealflow@dory.capital</em></p>
                    <ul>
                        <li>Make sure you also introduce your team, and
                            not just your technology.</li>
                        <li>Please, also, send us any and all materials
                            and/or brochures
                            you may already have (e.g. technical, marketing, others).</li>
                        <li>Last but not least, don’t forget to add your full
                            contact details.</li>
                    </ul>
                    <div class="one-page-example-container">
                        <a [href]="pdfSrc()" target="_blank" rel="noopener">
                            <button class="btn" type="button">One-pager example</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="process-section-step-1-space"></div>
        </div>
        <div class="process-section-row-container">
            <div class="process-section-step-2-space"></div>
            <div class="process-section-step-2-container">
                <div class="process-section-step-2">
                    <span>STEP 2</span>
                    <h1>{{data.paragraphs[1].title}}</h1>
                    <p class="process-section-step-2-subtitle">{{data.paragraphs[1].text}}</p>
                    <ul>
                        <li>Explain and detail your ground-breaking technology and added value.</li>
                        <li>Detail your relevant experience, and your motivation for this project.</li>
                        <li>Detail your Value Proposition, Addressable Markets and GTM.</li>
                        <li>Detail the competitive landscape and key differentiators <br />that sets you apart from the
                            competition.</li>
                        <li>Detail your IP and R&D plans.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="process-section-row-container">
            <div class="process-section-step-3-container">
                <div class="process-section-step-3">
                    <span>STEP 3</span>
                    <h1>{{data.paragraphs[2].title}}</h1>
                    <div class="process-section-step-3-bullet-container">
                        <div class="process-section-step-3-img-container">
                            <img [src]="imgSrc('team')" alt="team" width="43.56" height="32" />
                        </div>
                        <div class="process-section-step-3-bullet">
                            <h6>{{data.paragraphs[2].text}}</h6>
                        </div>
                    </div>
                    <div class="process-section-step-3-bullet-container">
                        <div class="process-section-step-3-img-container">
                            <img [src]="imgSrc('group')" alt="group" width="32" height="32" />
                        </div>
                        <div class="process-section-step-3-bullet">
                            <h6>Preliminary technical assessment</h6>
                            <p>The preliminary technical assessment will examine your technology
                                knowhow, R&D capabilities, IP and a general technical team assessment.</p>
                        </div>
                    </div>
                    <div class="process-section-step-3-bullet-container">
                        <div class="process-section-step-3-img-container">
                            <img [src]="imgSrc('dd')" alt="dd" width="31" height="32" />
                        </div>
                        <div class="process-section-step-3-bullet">
                            <h6>An indicative due diligence</h6>
                            <p> A detailed and thorough due diligence will include, among others,
                                the following:</p>
                            <ul>
                                <li>A vetting process of the entire team; and,</li>
                                <li>Assessment of key elements, such as business, legal and financial aspects; and,</li>
                                <li>Commercial viability, business potential and proposed modus operandi.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="process-section-step-3-bullet-container">
                        <div class="process-section-step-3-img-container">
                            <img [src]="imgSrc('approval')" alt="approval" width="21" height="32" />
                        </div>
                        <div class="process-section-step-3-bullet">
                            <h6>Final approval</h6>
                            <p>Post due diligence, your full R&D and GTM program is presented
                                internally for final approval.</p>
                        </div>
                    </div>
                    <div class="process-section-step-3-bullet-container">
                        <div class="process-section-step-3-img-container">
                            <img [src]="imgSrc('work')" alt="work" width="35.3" height="32" />
                        </div>
                        <div class="process-section-step-3-bullet">
                            <h6>To work</h6>
                            <p>Signing an investment/cooperation agreement and getting to work.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>