.process-section-container {
    position: relative;
    padding-top: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .process-section-background-video-1 {
        position: absolute;
        width: 100%;
        z-index: 0;
        right: -50%;
        // let topIn1920 = -100
        // let topIn901 = 100
        // 0.196 = Math.abs(topIn1920 - topIn901) / (1920 - 901)
        top: calc(-100px + (0.196 * (1920px - 100vw)));
    }

    > .process-section-background-video-2 {
        position: absolute;
        width: 100%;
        z-index: 0;
        left: -50%;
        // let topIn1920 = 800
        // let topIn901 = 1200
        // 0.392 = Math.abs(topIn1920 - topIn901) / (1920 - 901)
        top: calc(800px + (0.392 * (1920px - 100vw)));
    }

    > .section-header {
        position: relative;
        margin-bottom: 20px;

        > h1 {
            font-family: Merriweather;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 72px;
            text-align: center;
            color: #ffffff;
            white-space: pre-wrap;
        }
    }

    > .process-section-body {
        position: relative;
        max-width: 1140px;
        padding: 0 15px;
        margin: 0 30px;

        > .process-section-row-container {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;

            > .process-section-step-1-container {
                position: relative;
                padding: 0 15px;
                flex: 0 0 50%;
                max-width: 50%;
                border-top: 1px dashed rgba(255, 255, 255, 0.4);
                border-right: 1px dashed rgba(255, 255, 255, 0.4);
                border-bottom: 1px dashed rgba(255, 255, 255, 0.4);

                &:before {
                    position: absolute;
                    content: " ";
                    border-left: 1px dashed rgba(255, 255, 255, 0.4);
                    height: 10%;
                    top: 0;
                    left: 0;
                }

                > .process-section-step-1 {
                    margin: 28px 0;

                    > span {
                        position: relative;
                        font-family: Roboto;
                        font-style: normal;
                        color: #fff;
                        font: normal 14px/16px Roboto, Helvetica Neue, sans-serif;

                        &:before {
                            position: absolute;
                            content: " ";
                            width: 10px;
                            height: 10px;
                            background-color: #fff;
                            top: 3px;
                            left: -20px;
                        }
                    }

                    > h1 {
                        font-family: Merriweather;
                        font-style: normal;
                        font-weight: 400;
                        color: #fff;
                        padding: 12px 0 28px;
                        margin: 0;
                        font: 400 24px/40px Merriweather, Helvetica Neue, sans-serif;
                    }

                    > .process-section-step-1-subtitle {
                        white-space: nowrap;
                        font-style: normal;
                        color: #ffffff;
                        font: normal 16px/24px Roboto, "Helvetica Neue", sans-serif;

                        > a {
                            color: #61cb00;
                            text-decoration: none;
                            background-color: transparent;

                            &:hover {
                                color: white;
                            }
                        }
                    }

                    > ul {
                        padding-left: 15px;
                        text-align: justify;

                        > li {
                            color: #ffffff;
                            margin-bottom: 16px;
                        }
                    }

                    > .one-page-example-container {
                        margin: 5px 0 0;

                        & a {
                            text-decoration: none;
                            user-select: none;
                            display: inline-flex;

                            > button {
                                cursor: pointer;
                                padding: 12.5px 14px;
                                font-size: 14px;
                                background-color: #0e1a32;
                                box-shadow: 0 1px 1px hsl(0deg 0% 100% / 20%), 0 4px 16px hsl(0deg 0% 100% / 40%),
                                    inset 0 2px 8px rgb(0 0 0 / 20%);
                                border-radius: 12px;
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: normal;
                                line-height: 19px;
                                text-align: center;
                                color: #fff;
                                transition: all 0.5s ease-in-out;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid transparent;

                                &:hover {
                                    background-color: #ffffff;
                                    border: 1px solid #fff;
                                    color: #1d4b79;
                                    text-decoration: none;
                                }

                                &:focus {
                                    outline: 0;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }

            > .process-section-step-1-space {
                position: relative;
                flex: 0 0 50%;
                max-width: 50%;
                padding: 0 15px;
            }

            > .process-section-step-2-container {
                margin-top: -15px;
                margin-bottom: 1.5rem;
                flex: 0 0 50%;
                max-width: 50%;
                position: relative;
                padding: 0 15px;

                > .process-section-step-2 {
                    margin-top: 4px;

                    > span {
                        position: relative;
                        font-family: Roboto;
                        font-style: normal;
                        color: #fff;
                        font: normal 14px/16px Roboto, Helvetica Neue, sans-serif;

                        &:before {
                            position: absolute;
                            content: " ";
                            width: 10px;
                            height: 10px;
                            background-color: #fff;
                            top: 3px;
                            left: -20px;
                        }
                    }

                    > h1 {
                        font-family: Merriweather;
                        font-style: normal;
                        font-weight: 400;
                        color: #fff;
                        padding: 12px 0 28px;
                        margin: 0;
                        font: 400 24px/40px Merriweather, Helvetica Neue, sans-serif;
                    }

                    > .process-section-step-2-subtitle {
                        white-space: nowrap;
                        font-style: normal;
                        color: #ffffff;
                        margin: 0px;
                        font: normal 16px/24px Roboto, "Helvetica Neue", sans-serif;
                    }

                    > ul {
                        padding-left: 15px;
                        text-align: justify;

                        > li {
                            color: #ffffff;
                            margin-bottom: 16px;
                        }
                    }
                }
            }

            > .process-section-step-2-space {
                border-left: 1px dashed hsla(0, 0%, 100%, 0.4);
                flex: 0 0 50%;
                max-width: 50%;
                position: relative;
                padding: 0 15px;
            }

            > .process-section-step-3-container {
                flex: 0 0 50%;
                max-width: 50%;
                position: relative;
                padding: 0 15px;

                &:before {
                    position: absolute;
                    content: " ";
                    border-left: 1px dashed hsla(0, 0%, 100%, 0.4);
                    height: 8px;
                    top: 2px;
                    left: 0;
                }

                > .process-section-step-3 {
                    > span {
                        position: relative;
                        font-family: Roboto;
                        font-style: normal;
                        color: #fff;
                        font: normal 14px/16px Roboto, Helvetica Neue, sans-serif;

                        &:before {
                            position: absolute;
                            content: " ";
                            width: 10px;
                            height: 10px;
                            background-color: #fff;
                            top: 3px;
                            left: -20px;
                        }
                    }

                    > h1 {
                        font-family: Merriweather;
                        font-style: normal;
                        font-weight: 400;
                        color: #fff;
                        padding: 12px 0 28px;
                        margin: 0;
                        font: 400 24px/40px Merriweather, Helvetica Neue, sans-serif;
                    }

                    > .process-section-step-3-bullet-container {
                        display: flex;
                        margin-bottom: 10px;
                        text-align: justify;

                        > .process-section-step-3-img-container {
                            width: 64px;

                            ::ng-deep cl-image > img {
                                height: 32px;
                                max-width: 100%;
                                vertical-align: middle;
                                border-style: none;
                            }
                        }

                        > .process-section-step-3-bullet {
                            flex: 1;

                            > h6 {
                                white-space: nowrap;
                                color: #fff;
                                font: normal 16px/24px Roboto, Helvetica Neue, sans-serif;
                                margin: 5px 0 12px;
                            }

                            > p {
                                white-space: pre-wrap;
                                font-style: normal;
                                color: #fff;
                                display: flex;
                                margin-bottom: 16px;
                                font: 400 14px/20px Roboto, Helvetica Neue, sans-serif;

                                &:last-of-type {
                                    margin-bottom: 0;
                                }
                            }

                            > ul {
                                margin-bottom: 0px;
                                padding-left: 15px;

                                > li {
                                    color: #ffffff;
                                    margin-bottom: 16px;

                                    &:last-of-type {
                                        margin-bottom: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
