<div class="change-password-container">
    <main-header class="main-header-component"></main-header>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="change-password-title-container">
            <h1 class="change-password-title">Change Password</h1>
        </div>
        <div class="change-password-inputs">
            <div class="input-container">
                <input matInput placeholder="New password" type="password" formControlName="password">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="changePasswordForm.hasError('required', 'password')">Password is required
                    </div>
                    <div *ngIf="changePasswordForm.hasError('minlength', 'password')">Password must be at least
                        {{passwordMinLength}} characters
                    </div>
                </div>
            </div>
            <div class="input-container">
                <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword"
                    [errorStateMatcher]="matcher">
                <div *ngIf="submitted && changePasswordForm.hasError('notSame')" class="invalid-feedback">
                    Passwords are not identical
                </div>
            </div>
        </div>
        <div class="change-password-button-container">
            <div class="change-password-button-inner-container">
                <input class="change-password-button" type="submit" value="Submit"
                    [ngClass]="showLoader ? 'disabled' : ''" [disabled]="showLoader">
                <div *ngIf="showLoader" class="loader-container">
                    <spinning-loader class="change-password-loader"></spinning-loader>
                </div>
            </div>
        </div>
    </form>
</div>