.change-password-container {
    color: white;
    background-color: rgba(15, 73, 219, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-size: 34px;

    > .main-header-component {
        position: fixed;
        width: 100%;
        top: 0;
    }

    > form {
        width: 600px;
        padding: 20px;
        border-radius: 20px;
        border: white 1px solid;
        background-color: rgb(14, 63, 187);

        > .change-password-title-container {
            display: flex;
            justify-content: center;
            margin-bottom: 5px;

            > .change-password-title {
                user-select: none;
                font-size: 42px;
            }
        }

        > .change-password-inputs {
            margin-bottom: 20px;

            > .input-container {
                display: flex;
                flex-direction: column;

                > input {
                    font-family: Roboto, "Helvetica Neue", sans-serif;
                    font-size: 34px;
                }

                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }

                > .invalid-feedback {
                    margin-top: 10px;
                    font-size: 80%;
                    color: #dc3545;
                }
            }
        }

        > .change-password-button-container {
            display: flex;
            align-items: center;
            justify-content: center;

            > .change-password-button-inner-container {
                position: relative;
                display: flex;
                align-items: center;

                > .change-password-button {
                    padding: 15px;
                    font-size: 30px;
                    outline: none;
                    border: white 1px solid;
                    border-radius: 10px;
                    color: white;
                    background-color: rgba(15, 73, 219, 1);
                    cursor: pointer;
                    user-select: none;
                    line-height: 20px;
                    font-family: Roboto, "Helvetica Neue", sans-serif;

                    &.disabled {
                        color: rgba(16, 16, 16, 0.4);
                        background-color: rgba(239, 239, 239, 0.3);
                        border-color: rgba(118, 118, 118, 0.3);
                        cursor: not-allowed;
                    }
                }

                > .loader-container {
                    position: absolute;
                    right: -35px;
                }
            }
        }
    }
}

:host ::ng-deep .mat-input-element {
    margin-top: 0;
    color: black;
    background-color: #fff;
    border: 2px solid #fff;
    padding: 1px 2px;
}
