@import "../../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .change-password-container {
        font-size: 18px;

        > form {
            width: 300px;
            padding: 10px;
            border-radius: 15px;

            > .change-password-title-container {
                margin-bottom: 0px;

                > .change-password-title {
                    margin-bottom: 10px;
                    font-size: 26px;
                }
            }

            > .change-password-inputs {
                margin-bottom: 15px;

                > .input-container {
                    > input {
                        font-size: 18px;
                        line-height: 20px;
                    }

                    &:not(:last-of-type) {
                        margin-bottom: 6px;
                    }

                    > .invalid-feedback {
                        margin-top: 5px;
                    }
                }
            }

            > .change-password-button-container {
                margin-bottom: 6px;

                > .change-password-button-inner-container {
                    > .change-password-button {
                        padding: 6px;
                        font-size: 18px;
                        border-radius: 7px;
                    }
                }
            }
        }
    }
}
