@import "../../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .investors-section-container {
        > .investors-section {
            > .investors-section-video-container {
                > .investors-section-video {
                    justify-content: center;
                    overflow: hidden;

                    > video {
                        width: 600px;
                        height: 100%;
                    }
                }
            }

            > .investors-section-button {
                > img {
                    width: 180px;
                }

                > .investors-zone-text {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }
}
