<div class="investors-section-container">
    <div class="investors-section">
        <div class="investors-section-video-container">
            <div class="investors-section-video">
                <video [src]="videoSrc | safe" loading="lazy" muted autoplay loop oncanplay="this.play()"
                    onloadedmetadata="this.muted = true"></video>
            </div>
        </div>
        <div class="investors-section-button" (click)="showLogin()">
            <img [src]="imgSrc(gridId, false)" alt="grid-icon" loading="lazy" />
            <div class="investors-zone-text">Investors<br />Zone</div>
        </div>
    </div>
</div>