@import "../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .main-header-container {
        > .main-header {
            padding: 0px 10px;
            width: 100%;

            > .header-message {
                font-size: 12px;
            }

            > .header-title {
                text-align: center;
                font-size: 20px;
                margin: 0px 20px;
            }

            > .open-menu-button-container {
                > .header-menu {
                    right: -10px;
                }
            }
        }
    }
}
