<div *ngIf="showOutsideMenu" (click)="hideOutsideMenu($event)" class="outside-menu"></div>
<div class="main-header-container">
    <div class="main-header">
        <div class="header-message">Hey, Admin</div>
        <h1 class="header-title">Management Platform</h1>
        <div class="open-menu-button-container">
            <button mat-icon-button (click)="openMenu()" class="open-menu-button">
                <mat-icon>more_vert</mat-icon>
            </button>
            <div *ngIf="showMenu" class="header-menu">
                <a *ngIf="router.url !== '/'" routerLink="/">
                    <mat-icon>home</mat-icon>
                    <mat-label>Home Page</mat-label>
                </a>
                <a *ngIf="router.url !== '/admin'" routerLink="/admin">
                    <mat-icon>person</mat-icon>
                    <mat-label>Admin Page</mat-label>
                </a>
                <a *ngIf="router.url !== '/admin/change-password'" routerLink="/admin/change-password">
                    <mat-icon>password</mat-icon>
                    <mat-label>Change Password</mat-label>
                </a>
                <div class="header-menu-logout" (click)="logout($event)">
                    <mat-icon>logout</mat-icon>
                    <mat-label>Logout</mat-label>
                </div>
            </div>
        </div>
    </div>
</div>