<div class="home-page-container">
    <main-header *ngIf="isLoggedIn" class="main-header-component"></main-header>
    <intro-section class="intro-section-component" [ngClass]="isLoggedIn ? 'logged-in' : ''"></intro-section>
    <section class="sections-container">
        <div class="container-fluid sections-margin" id="scope">
            <scope-section [data]="pageData.sections[0]"></scope-section>
        </div>
        <div class="container-fluid sections-margin" id="about">
            <about-us-section [data]="pageData.sections[1]"></about-us-section>
        </div>
        <div class="container-fluid sections-margin" id="whyus">
            <why-us-section [data]="pageData.sections[2]"></why-us-section>
        </div>
        <div class="container-fluid sections-margin" id="leadership">
            <leadership-section [data]="pageData.sections[3]" [members]="pageData.members" [skills]="pageData.skills">
            </leadership-section>
        </div>
        <div class="container-fluid sections-margin process-section-padding" id="process">
            <process-section [data]="pageData.sections[4]"></process-section>
        </div>
        <div class="container-fluid sections-margin" id="faq">
            <faq-section [data]="pageData.sections[5]"></faq-section>
        </div>
        <div class="container-fluid sections-margin" id="contact">
            <contact-section [data]="pageData.sections[6]"></contact-section>
        </div>
    </section>
    <div #pageNavigator class="page-navigator-container"
        (mouseleave)="mouseLeavePageNavigator()">
        <div class="page-navigator" (mouseenter)="mouseHoverPageNavigation()">
            <img [src]="imgSrc(navigatorIcons.idle)" alt="page-navigator" />
            <a href="#contact" class="menu faq1">Contact</a>
            <a href="#faq" class="menu faq2">FAQ</a>
            <a href="#process" class="menu faq3">Process</a>
            <a href="#leadership" class="menu faq4">Leadership</a>
            <a href="#whyus" class="menu faq5">Why us</a>
            <a href="#about" class="menu faq6">About us</a>
            <a href="#scope" class="menu faq7">Scope</a>
        </div>
    </div>
    <div #scrollToTopButton class="scroll-to-top-container" (click)="scrollToTop()">
        <mat-icon>arrow_upward</mat-icon>
    </div>
</div>