h1 {
    white-space: pre-wrap !important;
}

h4 {
    white-space: pre-wrap !important;
}

h6 {
    white-space: pre-wrap !important;
}

p {
	white-space: pre-wrap !important;
}

.panel-title {
	white-space: normal !important;
}

.make {
    white-space: normal !important;
}