.home-page-container {
    background-color: #0f49db;

    > .main-header-component {
        position: fixed;
        top: 0;
        z-index: 1001;
        width: 100vw;
    }

    > .intro-section-component {
        display: flex;
        flex-direction: column;
        margin-top: 0px;

        &.logged-in {
            margin-top: 65px;
        }
    }

    > .sections-container {
        padding-bottom: 0px;

        > .sections-margin {
            margin-top: 130px;
        }

        > .process-section-padding {
            padding: 0;
        }
    }

    > .page-navigator-container {
        display: flex;
        justify-content: center;
        bottom: -15px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        transition: all 0.5s;

        &:hover {
            bottom: 15px;

            > .page-navigator {
                border-color: #5a89e5;

                & a {
                    visibility: visible;
                }
            }
        }

        > .page-navigator {
            width: 120px;
            height: 120px;
            border: 1px solid transparent;
            border-radius: 50%;
            position: relative;

            > img {
                max-width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            > .menu:hover {
                color: #ffffff;
                text-decoration: none;
            }

            > .faq1 {
                top: 12px;
                right: 117px;
            }

            > .faq1:after {
                top: 5px;
                right: -17px;
            }

            > .faq2 {
                top: 61px;
                right: 129px;
            }

            > .faq2:after {
                top: 5px;
                right: -16px;
            }

            > .faq3 {
                top: 103px;
                right: 99px;
            }

            > .faq3:after {
                top: 4px;
                right: -19px;
            }

            > .faq4 {
                top: 103px;
                right: -58px;
            }

            > .faq4:after {
                top: 4px;
                right: 85px;
            }

            > .faq5 {
                top: 61px;
                right: -63px;
            }

            > .faq5:after {
                top: 5px;
                right: 58px;
            }

            > .faq6 {
                top: 12px;
                right: -61px;
            }

            > .faq6:after {
                top: 5px;
                right: 68px;
            }

            > .faq7 {
                top: -27px;
                right: 37px;
            }

            > .faq7:after {
                top: 21px;
                right: 17px;
            }
        }
    }
}

h1 {
    white-space: pre-wrap !important;
}

h4 {
    white-space: pre-wrap !important;
}

h6 {
    white-space: pre-wrap !important;
}

p {
    white-space: pre-wrap !important;
}

.panel-title {
    white-space: normal !important;
}

.make {
    white-space: normal !important;
}
