@import "../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .home-page-container {
        > .sections-container {
            padding-bottom: 76px;

            > .leadership-section-margin {
                margin-top: 150px;
            }
        }

        > .page-navigator-container {
            > .page-navigator {
                > .faq1,
                .faq2,
                .faq3,
                .faq4,
                .faq5,
                .faq6,
                .faq7 {
                    font-size: 12px;
                }

                > .faq1 {
                    top: 12px;
                    right: 114px;
                }

                > .faq1:after {
                    top: 4px;
                    right: -15px;
                }

                > .faq2 {
                    top: 50px;
                    right: 130px;
                }

                > .faq2:after {
                    top: 5px;
                    right: -16px;
                }

                > .faq3 {
                    top: 90px;
                    right: 112px;
                }

                > .faq3:after {
                    top: 4px;
                    right: -15px;
                }

                > .faq4 {
                    top: 124px;
                    right: 24px;
                }

                > .faq4:after {
                    top: -10px;
                    right: 30px;
                }

                > .faq5 {
                    top: 90px;
                    right: -40px;
                }

                > .faq5:after {
                    top: 4px;
                    right: 50px;
                }

                > .faq6 {
                    top: 50px;
                    right: -56px;
                }

                > .faq6:after {
                    top: 3px;
                    right: 50px;
                }

                > .faq7 {
                    top: 10px;
                    right: -48px;
                }

                > .faq7:after {
                    top: 3px;
                    right: 58px;
                }

                > .faq8 {
                    top: -25px;
                    right: 38px;
                }

                > .faq8:after {
                    top: 20px;
                    right: 16px;
                }
            }
        }
    }
}
