.about-us-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 50px;

    > .section-header {
        > h1 {
            font-family: Merriweather;
            font-size: 48px;
            line-height: 72px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            color: #fff;
            white-space: pre-wrap;
        }
    }

    > .about-us-section-background-video {
        position: absolute;
        z-index: -1;
        width: 100%;
        top: calc(-300px + (0.245 * (1920px - 100vw)));
    }

    > .about-section-paragraph {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        line-height: 32px;
        display: block;
        color: #fff;
        white-space: pre-wrap;
        max-width: 750px;
    }

    > .align-justify-paragraph {
        text-align: justify;
    }

    > .about-section-quote {
        width: 750px;
        font-family: Merriweather;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        text-align: center;
        line-height: 24px;
        display: block;
        padding-top: 40px;
        color: #fff;
    }

    > .about-section-player-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        width: calc(640px * 1.2);
        height: calc(360px * 1.2);

        .about-section-thumbnail-container {
            display: flex;
            width: 100%;
            height: 100%;
            z-index: 1;
            justify-content: center;
            position: absolute;

            > img {
                cursor: pointer;
                width: 647.67px;
                height: 432px;
            }

            &.show-player {
                display: none;
            }
        }

        > .video-player-container {
            display: none;
            justify-content: center;
            position: relative;
            width: 576px;
            height: 100%;

            &.show-player {
                display: flex;
            }

            > .video-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-box-shadow: inset 0 0 30px 30px #0f49db;
                -moz-box-shadow: inset 0 0 30px 30px #0f49db;
                box-shadow: inset 0 0 30px 30px #0f49db;
            }

            > video {
                outline: none;
                outline-style: none;
            }

            > .play-pause-button-container {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                > .play-pause-button {
                    > img {
                        height: 80px;
                    }
                }
            }
        }
    }
}
