@import "../../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .leadership-section-container {
        padding-top: 25px;

        > .leadership-section-background-video {
            // let topIn900 = -235px
            // let topIn375 = -10px
            // 0.196 = Math.abs(topIn900 - topIn375) / (900 - 375)
            top: calc(-235px + (0.466 * (900px - 100vw)));
        }

        > .section-header {
            > h1 {
                font-size: 22px;
                line-height: 38px;
            }
        }

        > .leadership-section-subtitle {
            font-size: 12px;
            line-height: 26px;
        }

        > .leadership-skills-icons-container {
            > h4 {
                font-size: 18px;
            }
        }
    }
}
