<div class="leadership-section-container">
    <video-element class="leadership-section-background-video"></video-element>
    <div class="section-header">
        <h1>{{data.title}}</h1>
    </div>
    <h6 class="leadership-section-subtitle">{{data.paragraphs[0].text}}</h6>
    <div class="leadership-grid">
        <div #membersContainer class="members-grid-container">
            <div *ngFor="let member of data.members; let i = index" class="members-grid-item">
                <a [href]="member.link" target="_blank" rel="noopener" [ngClass]="!!member.link ? '' : 'disabled'">
                    <div class="profile-image-overlay"></div>
                    <div class="profile-image-container">
                        <cl-image [public-id]="member.imageId" secure="true" loading="lazy" [attr.alt]="member.name">
                            <cl-transformation fetch-format="auto"></cl-transformation>
                        </cl-image>
                    </div>
                </a>
                <div class="member-name">{{member.name}}</div>
                <member-skills class="member-skills-container" [skills]="member.skills"></member-skills>
            </div>
        </div>
    </div>
    <div class="leadership-skills-icons-container">
        <h4>Skills & Expertise</h4>
        <div class="leadership-skills-icons">
            <div #skillsTypes class="skills-grid-container">
                <div *ngFor="let skill of skills; let i = index" class="skill-grid-item">
                    <cl-image [public-id]="skill.imageId" secure="true" [width]="skill.width || defaultWidths.skill"
                        loading="lazy" [attr.alt]="skill.name"></cl-image>
                    <div [style.color]="skill.color">{{skill.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>