<section class="intro-section-container">
    <div class="intro-section-video-container">
        <iframe #videoIframe [src]="iframeSrc | safe" scrolling="no" frameborder="0"></iframe>
    </div>
    <div class="intro-section">
        <img src="assets/media/logo.png" alt="logo" />
        <h1>Welcome to Dory Capital</h1>
        <div class="intro-section-paragraph">
            <h2>Dory Capital is a Technology Bit2Atom innovation and investment house</h2>
            <p>
                We leverage Israeli Technologies and British talents to enable, empower and build unique and
                <br />
                exceptional Israeli start-ups with frontier breakthrough technologies!
            </p>
        </div>
        <div class="intro-section-buttons-container">
            <a href="#scope">Our Scope</a>
            <a href="#contact">Contact us</a>
        </div>
        <div class="intro-section-paragraph">
            <p>If you have a burning desire to succeed, and you believe in your vision,
                we at Dory
                <br />
                Capital would be delighted to support and enable your operation
            </p>
        </div>
    </div>
</section>