<div class="scope-section-container">
    <div class="section-header">
        <div class="section-title">Our Scope</div>
        <h1>{{data.title}}</h1>
    </div>
    <div class="scope-section-paragraph">{{data.paragraphs[0].text}}</div>
    <carousels class="carousels-component"></carousels>
    <div class="scope-section-paragraph">{{data.paragraphs[1].text}}
        <br />
        <span>please <a href="#contact" rel="noopener">Drop Us a Line</a> and/or <a href="mailto:dealflow@dory.capital"
                class="send-email" rel="noopener">send us an
                email </a>
        </span>
    </div>
</div>