<div class="scope-section-container">
    <div class="section-header">
        <div class="section-title">Our Scope</div>
        <h1>{{data.title}}</h1>
    </div>
    <div class="scope-section-paragraph">{{data.paragraphs[0].text}}</div>
    <carousels class="carousels-component"></carousels>
    <div class="scope-section-paragraph">{{data.paragraphs[1].text}}</div>
    <div class="scope-section-footer">
        <p>
            Please <span class="scope-button" (click)="scrollToSection('contactus')">drop us a line</span> and/or
            <a href="mailto:dealflow@dory.capital" rel="noopener">
                send us an email
            </a>
        </p>
    </div>
</div>