.scope-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    > .section-header {
        > .section-title {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.5em;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 20px;
        }

        > h1 {
            font-family: Merriweather;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 72px;
            text-align: center;
            color: #ffffff;
            white-space: pre-wrap;
        }
    }

    > .scope-section-paragraph {
        font-family: Roboto;
        font-size: 16px;
        text-align: center;
        color: #ffffff;
        white-space: pre-wrap;
        margin-top: 10px;
    }

    > .carousels-component {
        margin: 30px 0;
    }

    > .scope-section-footer {
        display: flex;
        font-family: Roboto;
        font-size: 16px;
        line-height: 32px;
        color: #fff;
        text-align: center;

        > p {
            > span {
                cursor: pointer;
            }

            > a, span {
                color: #61cb00;
                text-decoration: none;
                background-color: transparent;
    
                &:hover {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }
}
