<div class="section-container" [ngClass]="collapsed ? 'collapsed' : ''">
    <div class="section-header-container" [ngClass]="collapsed ? 'collapsed' : ''">
        <h2 class="section-title">{{data.name}}</h2>
        <!-- <div class="chevron-container" [ngClass]="collapsed ? 'collapsed' : ''">
            <i class="icon-chevron-thin-down"></i>
        </div> -->
    </div>
    <h3>Title</h3>
    <admin-form [_id]="data._id" [dataRetrieved]="dataRetrieved" [data]="data.title" [type]="'section.title'"></admin-form>
    <ng-container *ngIf="data.content">
        <h3 class="paragraphs-title">Paragraphs</h3>
        <div *ngFor="let paragraph of data.content; let i = index" class="paragraphs-forms">
            <ng-container *ngIf="paragraph.title">
                <h4 class="paragraph-form-title">{{paragraph.title}}</h4>
                <admin-form class="admin-form" [_id]="paragraph._id" [dataRetrieved]="dataRetrieved" [data]="paragraph.title" [type]="'paragraph.title'"></admin-form>
            </ng-container>
            <admin-form class="admin-form" [_id]="paragraph._id" [dataRetrieved]="dataRetrieved" [data]="paragraph.text" [type]="'paragraph.text'"></admin-form>
        </div>
    </ng-container>
</div>