@import "../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .login-page-container {
        font-size: 18px;

        > .login-form {
            width: 300px;
            padding: 10px;

            > .login-title-container {
                > .login-title {
                    margin-bottom: 10px;
                    font-size: 26px;
                }
            }

            > .login-inputs {
                margin-bottom: 15px;
            }

            // > .forgot-my-password-container {
            //     > .forgot-my-password {
            //         font-size: 12px;
            //     }
            // }

            > .login-button-container {
                margin-bottom: 6px;

                > .login-button {
                    padding: 6px;
                    font-size: 18px;
                }
            }
        }
    }
}
