@import "../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .login-page-container {
        font-size: 18px;

        > .login-form-container {
            width: 300px;

            > .login-form {
                padding: 10px;

                > .login-title-container {
                    > .login-title {
                        font-size: 26px;
                    }
                }

                > .login-inputs {
                    margin-bottom: 2px;

                    > .input-container {
                        &:not(:last-of-type) {
                        }
    
                        > .input-title {
                        }
                    }
                }
    
                > .forgot-my-password-container {
                    > .forgot-my-password {
                        font-size: 12px;
                    }
                }
    
                > .login-button-container {
                    > .login-button {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}