.login-page-container {
    color: white;
    background-color: rgba(15, 73, 219, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-size: 34px;

    > .login-form {
        width: 600px;
        padding: 20px;
        border-radius: 20px;
        border: white 1px solid;
        background-color: rgb(14, 63, 187);

        > .login-title-container {
            display: flex;
            justify-content: center;
            margin-bottom: 5px;

            > .login-title {
                user-select: none;
                font-size: 42px;
            }
        }

        > .wrong-creds-container {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;

            > .wrong-creds {
                font-size: 80%;
                color: #dc3545;
            }
        }

        > .login-inputs {
            margin-bottom: 20px;

            > .input-container {
                display: flex;
                flex-direction: column;

                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }

                > .input-title {
                    flex: 1;
                    margin-right: 10px;
                    user-select: none;
                }
            }
        }

        // > .forgot-my-password-container {
        //     display: flex;
        //     justify-content: flex-end;
        //     margin-bottom: 20px;

        //     > .forgot-my-password {
        //         cursor: pointer;
        //         text-decoration: underline;
        //         font-size: 16px;
        //         user-select: none;
        //     }
        // }

        > .login-button-container {
            display: flex;
            align-items: center;
            justify-content: center;

            > .login-button {
                padding: 15px;
                font-size: 30px;
                outline: none;
                border: white 1px solid;
                border-radius: 10px;
                color: white;
                background-color: rgba(15, 73, 219, 1);
                cursor: pointer;
                user-select: none;
            }
        }
    }
}
