<div class="login-page-container">
    <div class="login-form-container">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="login-title-container">
                <div class="login-title">Login</div>
            </div>
            <div class="login-inputs">
                <div class=input-container>
                    <input class="email-input" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        formControlName="email" type="text" [(ngModel)]="email" placeholder="Email">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class=input-container>
                    <input class="password-input" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                        formControlName="password" type="password" [(ngModel)]="password" placeholder="Password">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
            </div>
            <div class="forgot-my-password-container">
                <div class="forgot-my-password">Forgot my password</div>
            </div>
            <div class="login-button-container">
                <input class="login-button" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>