<div class="login-page-container">
    <div class="login-form-container">
        <div class="login-form">
            <div class="login-title-container">
                <div class="login-title">Login</div>
            </div>
            <div class="login-inputs">
                <div class=input-container>
                    <div class="input-title">Username</div>
                    <input class="username-input" type="text" [(ngModel)]="username">
                </div>
                <div class=input-container>
                    <div class="input-title">Password</div>
                    <input class="password-input" type="password" [(ngModel)]="password">
                </div>
            </div>
            <div class="forgot-my-password-container">
                <div class="forgot-my-password">Forgot my password</div>
            </div>
            <div class="login-button-container">
                <input class="login-button" type="submit" value="Submit">
            </div>
        </div>
    </div>
</div>