.contact-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 50px;

    > .contact-section-background-video {
        position: absolute;
        z-index: 0;
        width: 100%;
        top: calc(-300px + (0.245 * (1920px - 100vw)));
    }

    > .section-header {
        z-index: 1;

        > .section-title {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.5em;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 20px;
        }

        > h1 {
            font-family: Merriweather;
            font-size: 48px;
            line-height: 72px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            color: #fff;
            white-space: pre-wrap;
        }
    }

    > .contact-section-body {
        z-index: 1;

        > .contact-form-container {
            > .contact-form {
                width: 576px;

                > .form-field-container {
                    margin-bottom: 1.2rem;

                    > textarea:focus,
                    input:focus {
                        outline: none;
                    }

                    > label {
                        display: flex;
                        font-family: Merriweather;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 18px;
                        text-align: center;
                        color: #ffffff;
                        margin-bottom: 10px;
                    }

                    > input {
                        display: block;
                        padding: 0.375rem 0.75rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #495057;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        width: 100%;
                        height: 48px;
                        background-color: #ffffff;
                        border-radius: 8px;
                        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                        font-family: Roboto, "Helvetica Neue", sans-serif;

                        &::-webkit-input-placeholder {
                            color: #cbcbcb;
                        }
                    }

                    > textarea {
                        height: 176px !important;
                        border-radius: 8px;
                        display: block;
                        width: 100%;
                        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                        padding: 0.375rem 0.75rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        overflow: auto;
                        resize: vertical;
                        margin: 0;
                        font-family: Roboto, "Helvetica Neue", sans-serif;

                        &::-webkit-input-placeholder {
                            color: #cbcbcb;
                        }
                    }
                }

                > .form-field-container:nth-child(1),
                .form-field-container:nth-child(2) {
                    > input {
                        width: 100%;
                    }
                }
                > .form-field-container:nth-child(3) {
                    > .upload-button-container {
                        > .upload-button {
                            padding: 10px 14px 10px 10px;
                            background-color: #0e1a32;
                            box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 4px 16px rgba(255, 255, 255, 0.4),
                                inset 0px 2px 8px rgba(0, 0, 0, 0.2);
                            border-radius: 12px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 18px;
                            text-align: center;
                            color: #ffffff;
                            transition: all 0.5s ease-in-out;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            border: 1px solid transparent;

                            > mat-icon {
                                display: flex;
                                align-items: center;
                                margin-right: 5px;
                                font-weight: 600;
                            }

                            &:hover {
                                background-color: #ffffff;
                                border: 1px solid #fff;
                                color: #1d4b79;
                            }

                            &:focus {
                                outline: 0;
                                box-shadow: none;
                            }
                        }
                    }
                }

                > .submit-button-container {
                    display: flex;
                    justify-content: center;

                    > button[type="submit"] {
                        cursor: pointer;
                        padding-top: 12.5px;
                        padding-bottom: 12.5px;
                        padding-left: 16px;
                        padding-right: 16px;
                        background-color: #0e1a32;
                        box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 4px 16px rgba(255, 255, 255, 0.4),
                            inset 0px 2px 8px rgba(0, 0, 0, 0.2);
                        border-radius: 12px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        color: #ffffff;
                        transition: all 0.5s ease-in-out;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid transparent;

                        &:hover {
                            background-color: #ffffff;
                            border: 1px solid #fff;
                            color: #1d4b79;
                        }

                        &:focus {
                            outline: 0;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}
