@import "../../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .contact-section-container {
        padding-top: 25px;

        > .section-header {
            > .section-title {
                font-size: 12px;
                margin-bottom: 10px;
            }

            > h1 {
                font-size: 22px;
                line-height: 38px;
            }
        }

        > .contact-section-background-video {
            top: calc(-125px + (0.238 * (900px - 100vw)));
        }

        > .contact-section-body {
            z-index: 1;

            > .under-copyright {
                padding: 8px 0 15px;
            }

            > .contact-form-container {
                > .contact-form {
                    width: 340px;

                    > .form-group:nth-child(3) {
                        > label {
                            margin-bottom: 14px;
                        }

                        > .upload-button-container {
                            > .upload-button {
                                padding: 8px 12px;
                                border-radius: 8px;
                                font-weight: 500;
                                font-size: 14px;
                            }
                        }
                    }

                    > .submit-button-container {
                        display: flex;
                        justify-content: center;

                        > button[type="submit"] {
                            padding: 8px 12px;
                            border-radius: 8px;
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
