<div class="contact-section-container">
    <video-element class="contact-section-background-video"></video-element>
    <div class="section-header">
        <div class="section-title">Contact us</div>
        <h1>{{data.title}}</h1>
    </div>
    <div class="container contact-section-body">
        <div class="row justify-content-center contact-form-container">
            <form class="contact-form">
                <div class="form-group">
                    <label class="f-name">Full name</label>
                    <input type="text" name="first" class="form-control custom-input"
                        placeholder="Enter your full name" />
                </div>
                <div class="form-group">
                    <label class="f-name">Email</label>
                    <input type="email" name="email" class="form-control custom-input" placeholder="Enter your email" />
                </div>
                <div class="form-group">
                    <label class="f-name">Add a one pager (optional)</label>
                    <div class="upload-button-container">
                        <button class="upload-button" type="button" (click)="fileInput.click()">
                            <i class="icon-plus"></i>
                            <div class="upload-button-text">Upload</div>
                            <input #fileInput type="file" name="avatar" hidden />
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="f-name">Message</label>
                    <textarea class="form-control custom-area" placeholder="Enter your message"></textarea>
                </div>
                <div class="submit-button-container">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
        <span class="copyright">© Copyright 2021 Dory Capital - All Rights Reserved</span>
        <span class="copyright under-copyright">Cambridge, UK.</span>
    </div>
</div>