<div class="contact-section-container">
    <video-element class="contact-section-background-video"></video-element>
    <div class="section-header">
        <div class="section-title">Contact us</div>
        <h1>{{data.title}}</h1>
    </div>
    <div class="contact-section-body">
        <div class="contact-form-container">
            <form class="contact-form">
                <div class="form-field-container">
                    <label>Full name</label>
                    <input type="text" name="first" placeholder="Enter your full name" />
                </div>
                <div class="form-field-container">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Enter your email" />
                </div>
                <div class="form-field-container">
                    <label>Add a one pager (optional)</label>
                    <div class="upload-button-container">
                        <button class="upload-button" type="button" (click)="fileInput.click()">
                            <mat-icon>add</mat-icon>
                            <div class="upload-button-text">Upload</div>
                            <input #fileInput type="file" name="avatar" hidden />
                        </button>
                    </div>
                </div>
                <div class="form-field-container">
                    <label>Message</label>
                    <textarea placeholder="Enter your message"></textarea>
                </div>
                <div class="submit-button-container">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>