.leadership-section-container {
    background-color: rgb(14, 63, 187);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px 20px 20px;
    margin-bottom: 30px;
    overflow: hidden;
    border-right: white 1px solid;
    border-left: white 1px solid;
    border-bottom: white 1px solid;

    > .section-header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: white 1px solid;
        margin-bottom: 10px;
        padding-bottom: 0px;

        > .section-title {
            flex: 1;
            text-align: center;
        }
    }
}