.leadership-section-container {
    background-color: rgb(14, 63, 187);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px 20px 20px;
    margin-bottom: 30px;
    overflow: hidden;
    border-right: white 1px solid;
    border-left: white 1px solid;
    border-bottom: white 1px solid;

    > .section-header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: white 1px solid;
        margin-bottom: 10px;
        padding-bottom: 0px;

        > .section-title {
            flex: 1;
            text-align: center;
        }
    }

    > .members-table-container {
        > .table-control-panel-container {
            display: flex;
            flex-direction: column;

            > .table-control-panel-buttons {
                display: flex;
                flex-direction: row;

                ::ng-deep mat-icon {
                    margin-bottom: 4px;
                    margin-right: 5px;
                }
            }
        }

        > .table-inner-container {
            > table {
                width: 100%;
                // background-color: #0f49db;
            }

            > .mat-form-field {
                font-size: 14px;
                // color: #fff;
                width: 100%;
            }

            .mat-cell {
                // color: white;
            }

            td.mat-column-select {
                padding-right: 24px;
                flex: 0 0 64px;
                width: 64px;
            }

            td.mat-column-name {
                flex: 0 0 200px;
                width: 200px;
            }

            td.mat-column-skills {
                flex: 0 0 700px;
                width: 700px;
            }

            td.mat-column-actions {
                width: 20px;
                padding-right: 0px;
            }
        }
    }
}

:host ::ng-deep .mat-checkbox.mat-accent .mat-checkbox-layout {
    margin-bottom: -2px !important;
}

:host ::ng-deep .mat-paginator-range-label {
    margin: 0;
}

:host ::ng-deep .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    // > mat-icon {
    //     margin-bottom: 4px;
    //     margin-right: 5px;
    // }
}

// :host ::ng-deep .mat-sort-header-arrow {
//     color: white;
// }

// :host ::ng-deep .mat-button[disabled][disabled] {
//     color: #8a8a8a;
// }

// :host ::ng-deep mat-row,
// mat-header-row,
// mat-footer-row,
// th.mat-header-cell,
// td.mat-cell,
// td.mat-footer-cell {
//     border-bottom-color: rgb(0 0 0);
// }

// :host ::ng-deep .mat-checkbox-frame {
//     border: 2px solid white;
// }

// :host ::ng-deep .mat-sort-header-button {
//     color: white;
// }

// :host ::ng-deep .mat-form-field-label {
//     color: white;
// }

// :host ::ng-deep .mat-focused .mat-form-field-label {
//     color: white;
// }

// :host ::ng-deep .mat-focused .mat-input-element::placeholder {
//     color: white;
// }

// :host ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
//     background-color: white;
// }

// :host ::ng-deep .mat-form-field-underline {
//     background-color: white;
// }
