@import "../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .admin-leadership-section-container {
        margin: 0px 0px 20px;
        border: none;
        border-radius: 0px;
        margin-bottom: 0px;

        > .members-table-container {
            > .table-control-panel-container {
                > .table-control-panel-buttons {
                    display: flex;
                    justify-content: space-evenly;
                }
            }

            > .table-inner-container {
                overflow: auto;

                > table {
                    width: 857px;
                    border-collapse: separate;
                }

                td.mat-column-link {
                    padding-right: 8px;
                }

                th.mat-column-name,
                td.mat-column-name {
                    padding-left: 8px;
                }

                .mat-table-sticky:first-child {
                    border-right: 1px solid #e0e0e0;
                }

                .mat-table-sticky:last-child {
                    border-left: 1px solid #e0e0e0;
                }
            }
        }
    }
}
