<div class="leadership-section-container">
    <div class="section-header-container">
        <h2 class="section-title">Leadership</h2>
    </div>
    <div class="members-table-container">
        <div class="table-control-panel-container">
            <div class="table-control-panel-buttons">
                <button mat-button type="button" class="control-panel-button" (click)="addMember()">
                    <mat-icon>add</mat-icon>
                    <div class="control-panel-button-text">Add Member</div>
                </button>
                <button mat-button type="button" class="control-panel-button" (click)="removeMembers()"
                    [disabled]="noRowsSelected">
                    <mat-icon>delete</mat-icon>
                    <div class="control-panel-button-text">Remove Members</div>
                </button>
            </div>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Asher Dory">
            </mat-form-field>
        </div>
        <div class="table-inner-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Index Column -->
                <ng-container matColumnDef="index" sticky>
                    <th mat-header-cell *matHeaderCellDef>No.</th>
                    <td mat-cell *matCellDef="let member">{{member.index}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let member">{{member.name}}</td>
                </ng-container>

                <!-- Skills Column -->
                <ng-container matColumnDef="skills">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Skills</th>
                    <td mat-cell *matCellDef="let member">{{getSkillsNames(member.skills)}} </td>
                </ng-container>

                <!-- Link Column -->
                <ng-container matColumnDef="link">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Link</th>
                    <td mat-cell *matCellDef="let member">{{member.link}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let member">
                        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editMember($event, member)">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="removeMember($event, member)">
                                <mat-icon>delete</mat-icon>
                                <span>Remove</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>