.form-container {
    display: flex;
    flex-direction: column;
    & .submit-button, .reset-button {
        outline: none;
        padding: 5px;
        border: white 1px solid;
        border-radius: 10px;
        color: white;
        background-color: rgba(15, 73, 219, 1);
        cursor: pointer;
        font-size: 16px;
        user-select: none;

        &.disabled {
            color: rgba(16, 16, 16, 0.3);
            background-color: rgba(239, 239, 239, 0.3);
            border-color: rgba(118, 118, 118, 0.3);
            cursor: not-allowed;
        }
    }

    & .submit-button {
        margin-right: 10px;
    }

    & .form-buttons {
        display: flex;
    }

    & .invalid-feedback {
        display: flex;
        font-size: 18px;
        margin: 0px 0px 10px;
    }

    > .form-field {
        margin-bottom: 10px;
    }
}