<form #formElement class="form-container" (ngSubmit)="onSubmit()">
    <h4 *ngIf="showParagraphTitle">{{data[type]}}</h4>
    <textarea class="form-field" name="value" rows="2" [(ngModel)]="data[type]" (input)="inputChanged()" required></textarea>
    <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
        <div *ngIf="f.value.errors.required">Field is required</div>
    </div>
    <div class="form-buttons">
        <input class="submit-button" type="submit" value="Submit" [disabled]="disableButtons"
            [ngClass]="disableButtons ? 'disabled' : ''">
        <button class="reset-button" (click)="reset()" [disabled]="disableButtons"
            [ngClass]="disableButtons ? 'disabled' : ''">Reset</button>
        <div *ngIf="showLoader" class="loader-container">
            <spinning-loader></spinning-loader>
        </div>
    </div>
</form>