<div class="management-platform-container">
    <main-header class="main-header-component"></main-header>
    <div class="sections-tabs-container">
        <div class="sections-tabs">
            <ul #headerTabs>
                <li *ngFor="let tab of sectionsTabs; let i = index" [ngClass]="selectedTab === i ? 'selected' : ''"
                    (click)="selectTab(i)">{{tab}}</li>
            </ul>
            <div #tabsLine class="tabs-line"></div>
        </div>
    </div>
    <div #sections class="management-platform">
        <admin-section [dataRetrieved]="dataRetrieved" [data]="pageData.sections[0]"></admin-section>
        <admin-section [dataRetrieved]="dataRetrieved" [data]="pageData.sections[1]"></admin-section>
        <admin-section [dataRetrieved]="dataRetrieved" [data]="pageData.sections[2]"></admin-section>
        <admin-leadership></admin-leadership>
        <admin-section [dataRetrieved]="dataRetrieved" [data]="pageData.sections[4]"></admin-section>
        <admin-section [dataRetrieved]="dataRetrieved" [data]="pageData.sections[5]"></admin-section>
        <admin-section [dataRetrieved]="dataRetrieved" [data]="pageData.sections[6]"></admin-section>
    </div>
</div>