<div class="management-platform-container">
    <div class="management-platform-header-container">
        <div class="management-platform-header">
            <div class="hello-message">Hey, Admin</div>
            <h1 class="management-platfotm-title">Management Platform</h1>
            <div class="logout-button" (click)="logout()">Logout</div>
        </div>
    </div>
    <div class="sections-tabs-container">
        <div class="sections-tabs">
            <ul #headerTabs>
                <li *ngFor="let tab of sectionsTabs; let i = index" [ngClass]="selectedTab === i ? 'selected' : ''"
                    (click)="selectTab(i)">{{tab}}</li>
            </ul>
            <div #tabsLine class="tabs-line"></div>
        </div>
    </div>
    <div #sections class="management-platform">
        <admin-section [dataRetrieved]="dataRetrieved" [data]="data.sections[0]"></admin-section>
        <admin-section [dataRetrieved]="dataRetrieved" [data]="data.sections[1]"></admin-section>
        <admin-section [dataRetrieved]="dataRetrieved" [data]="data.sections[2]"></admin-section>
        <admin-leadership [dataRetrieved]="dataRetrieved" [data]="data.sections[3]"></admin-leadership>
        <admin-section [dataRetrieved]="dataRetrieved" [data]="data.sections[4]"></admin-section>
        <admin-section [dataRetrieved]="dataRetrieved" [data]="data.sections[5]"></admin-section>
        <admin-section [dataRetrieved]="dataRetrieved" [data]="data.sections[6]"></admin-section>
    </div>
</div>