@import "../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .management-platform-container {    
        > .management-platform-header-container {    
            margin-bottom: 20px;
            position: fixed;
            top: 0;
            z-index: 1;

            > .management-platform-header {
                padding: 0px 10px;
                width: 100%;

                > .hello-message {
                    font-size: 12px;
                }

                > .management-platfotm-title {
                    text-align: center;
                    font-size: 16px;
                    margin: 0px 20px;
                }

                > .logout-button {
                    font-size: 12px;
                }
            }
        }

        > .management-platform {
            width: 100%;
            margin-top: 84px;
        }
    }
}