@import "../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .management-platform-container {
        background-color: rgb(14, 63, 187);

        > .main-header-component {
            position: fixed;
            top: 0;
        }

        > .sections-tabs-container {
            position: fixed;
            margin-top: 65px;
        }

        > .management-platform {
            width: 100%;
            margin-top: 123px;
        }
    }
}
