.management-platform-container {
    color: white;
    background-color: rgba(15, 73, 219, 1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;

    > .management-platform-header-container {
        background-color: rgb(14, 63, 187);
        height: 65px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        border-bottom: white 1px solid;

        > .management-platform-header {
            display: flex;
            background-color: rgb(14, 63, 187);
            width: 80%;
            height: 100%;
            align-items: center;
            justify-content: space-between;

            > .management-platfotm-title {
                margin: 0;
            }

            > .logout-button {
                outline: none;
                padding: 5px;
                border: white 1px solid;
                border-radius: 10px;
                color: white;
                background-color: rgba(15, 73, 219, 1);
                cursor: pointer;
                font-size: 16px;
                user-select: none;
            }
        }
    }

    > .management-platform {
        width: 80%;
    }
}