.management-platform-container {
    color: white;
    background-color: rgba(15, 73, 219, 1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;

    > .management-platform-header-container {
        background-color: green;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        > .management-platform-header {
            display: flex;
            background-color: yellowgreen;
            width: 80%;
            height: 100%;
            padding: 0px 10px;
            align-items: center;
            justify-content: space-between;

            > .management-platfotm-title {
                margin: 0;
            }

            > .logout-button {
                outline: none;
                padding: 5px;
                border: white 1px solid;
                border-radius: 10px;
                color: white;
                background-color: rgba(15, 73, 219, 1);
                cursor: pointer;
                font-size: 16px;
                user-select: none;
            }
        }
    }

    > .management-platform {
        width: 80%;

        & .submit-button {
            outline: none;
            padding: 5px;
            border: white 1px solid;
            border-radius: 10px;
            color: white;
            background-color: rgba(15, 73, 219, 1);
            cursor: pointer;
            font-size: 16px;
            user-select: none;
        }

        > .management-scope-container {
            background-color: rgb(14, 63, 187);
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 30px;

            > .management-scope-title-container {
                > .management-scope-title {
                    text-align: center;
                }
            }

            > .scope-title-container {
                margin-bottom: 30px;

                > .scope-title {
                    display: flex;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            > .scope-paragraph-1-container {
                margin-bottom: 30px;

                > .scope-paragraph-1 {
                    display: flex;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            > .scope-paragraph-2-container {
                > .scope-paragraph-2 {
                    display: flex;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }

        > .management-about-us-container {
            background-color: rgb(14, 63, 187);
            border-radius: 20px;
            padding: 20px;

            > .management-about-us-title-container {
                > .management-about-us-title {
                    text-align: center;
                }
            }

            > .about-us-title-container {
                margin-bottom: 30px;

                > .about-us-title {
                    display: flex;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            > .about-us-paragraph-1-container {
                margin-bottom: 30px;

                > .about-us-paragraph-1 {
                    display: flex;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            > .about-us-paragraph-2-container {
                > .about-us-paragraph-2 {
                    display: flex;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}