<div class="management-platform-container">
    <div class="management-platform">
        <div class="management-title-container">
            <h1 class="management-title">MANAGEMENT PLATFORM</h1>
        </div>
        <div class="management-about">
            <div class="management-about-title-container">
                <h2 class="management-about-title">About Us</h2>
            </div>
            <div class="about-title-container">
                <div class="section-title-container">
                    <h3 class="section-title">Title</h3>
                </div>
                <textarea class="about-title">{{data.about.title}}</textarea>
                <input class="submit-button" type="submit" value="Submit">
            </div>
            <div class="about-text-1-container">
                <div class="section-title-container">
                    <h3 class="section-title">Text 1</h3>
                </div>
                <textarea class="about-text-1">{{data.about.text1}}</textarea>
                <input class="submit-button" type="submit" value="Submit">
            </div>
            <div class="about-text-2-container">
                <div class="section-title-container">
                    <h3 class="section-title">Text 2</h3>
                </div>
                <textarea class="about-text-2">{{data.about.text2}}</textarea>
                <input class="submit-button" type="submit" value="Submit">
            </div>
        </div>
    </div>
</div>