.management-platform-container {
    color: white;
    background-color: rgba(15, 73, 219, 1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;

    > .management-platform {
        width: 85%;

        > .management-title-container {
            display: flex;
            justify-content: center;
            width: 100%;
    
            > .management-title {
                text-align: center;
                margin: 50px 0px;
            }
        }

        > .management-about {
            background-color: rgb(14, 63, 187);
            border-radius: 20px;
            padding: 20px;

            > .management-about-title-container {
                > .management-about-title {
                    text-align: center;
                }
            }

            > .about-title-container {
                margin-bottom: 30px;

                > .about-title {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            > .about-text-1-container {
                margin-bottom: 30px;

                > .about-text-1 {
                    display: flex;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            > .about-text-2-container {
                > .about-text-2 {
                    display: flex;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}