@import "../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .member-dialog-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .member-dialog-fields-container {
            flex-direction: column;
            max-height: 100vh;
            padding: 0px;
            width: 100%;

            > .file-upload-field-container {
                margin-right: 0;
                margin-bottom: 20px;
                width: 100%;
                max-width: 100%;

                > .file-upload-picture {
                    align-self: center;
                    display: flex;
                }

                > .file-upload-field {
                    justify-content: center;
                }
            }
        }

        .member-actions-container {
            position: relative;

            > .loader-container {
                position: absolute;
                right: -30px;
                display: flex;
                align-items: center;
                margin-left: 0px;
            }
        }
    }
}
