<div class="why-us-section-container">
    <video-element class="why-us-section-background-video"></video-element>
    <div class="section-header">
        <div class="section-title">why us</div>
        <h1>{{data.title}}</h1>
    </div>

    <div class="why-us-section-quote">“It’s the possibility of having a dream come true that makes life interesting”
        <br />(Paulo Coelho)</div>
    <div class="container">
        <div class="row">
            <div *ngFor="let paragraph of data.paragraphs; let i = index" class="col-md-6 mb-5">
                <div class="fair-approch">
                    <span>0{{i + 1}}</span>
                    <h4>{{paragraph.title}}</h4>
                    <p>{{paragraph.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>